@model WebAdmin.Models.TblAlumno

@{
    ViewData["Title"] = "Crear Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Alumno</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">
            <div class="card-header d-flex align-items-center justify-content-between">
            </div>
            <div class="card-body">
<form asp-action="Create">
      <div class="row">
                        <div class="mb-3 col-md-2">
                            <label for="IdTipoAlumno" class="form-label" asp-for="IdTipoAlumno"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                            class="bx bx-check-shield"></i></span>
                                    <select class="form-select" required asp-for="IdTipoAlumno" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required
                                        asp-items="@(new SelectList(ViewBag.ListaTipoAlumnos,"IdTipoAlumno","TipoAlumnoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                         <div class="mb-3 col-md-4">
                             <label for="NombreAlumno" class="form-label" asp-for="NombreAlumno"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                                <input style="text-transform:uppercase" type="text" class="form-control" id=""
                                    placeholder="Requerido" aria-label="John Doe" aria-describedby="2" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required
                                    asp-for="NombreAlumno" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label for="ApellidoPaterno" class="form-label" asp-for="ApellidoPaterno"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                                <input style="text-transform:uppercase" type="text" class="form-control" id=""
                                    placeholder="Requerido" aria-label="John Doe" aria-describedby="2" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required
                                    asp-for="ApellidoPaterno" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-3">
                              <label for="ApellidoMaterno" class="form-label" asp-for="ApellidoMaterno"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                                <input style="text-transform:uppercase" type="text" class="form-control" id=""
                                    placeholder="Requerido" aria-label="John Doe" aria-describedby="2" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required
                                    asp-for="ApellidoMaterno" />
                            </div>
                        </div>
                    </div>
    <div class="row">

   

    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
