@model WebAdmin.Models.TblEmpresa


@{
ViewData["Title"] = "Crear Empresa";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Empresa</h4>
  <!-- Basic with Icons -->
  <div class="col-xxl">
    <div class="card mb-8">
      <div class="card-header d-flex align-items-center justify-content-between">
      </div>
      <div class="card-body">
        <form asp-action="Create">
          <div class="card-body">
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="NombreEmpresa" class="form-label" asp-for="NombreEmpresa"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <input style="text-transform:uppercase" type="text" class="form-control" id=""
                    placeholder="Requerido" aria-label="John Doe" aria-describedby="2" asp-for="NombreEmpresa"
                    required oninvalid="this.setCustomValidity('Campo Requerido')"
                    onchange="this.setCustomValidity('')" />
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="GiroComercial" class="form-label" asp-for="GiroComercial"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <input style="text-transform:uppercase" type="text" class="form-control" id=""
                     aria-label="John Doe" aria-describedby="2" asp-for="GiroComercial" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="CorreoElectronico" class="form-label" asp-for="CorreoElectronico"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <input  type="email" class="form-control" id=""
                    placeholder="Requerido" aria-label="John Doe" aria-describedby="2" asp-for="CorreoElectronico"
                    required oninvalid="this.setCustomValidity('Campo Requerido')"
                    onchange="this.setCustomValidity('')" />
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="Telefono" class="form-label" asp-for="Telefono"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <input style="text-transform:uppercase" type="text" class="form-control" id=""
                     aria-label="John Doe" aria-describedby="2" asp-for="Telefono" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="Calle" class="form-label" asp-for="Calle"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <input style="text-transform:uppercase" type="text" class="form-control" id=""
                     aria-label="John Doe" aria-describedby="2" asp-for="Calle" />
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="CodigoPostal" class="form-label" asp-for="CodigoPostal"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <input  type="text" class="form-control" id="iCodigoPostal"
                     aria-label="John Doe" aria-describedby="2" asp-for="CodigoPostal" />
                  <button class="btn btn-outline-primary" type="button" id="button-addon2"
                    onclick="filtro_cp()">Button</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="Colonia" class="form-label" asp-for="Colonia"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <select id="drpColonias" class="form-select" asp-for="Colonia">
                    <option value="">SELECCIONAR</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="LocalidadMunicipio" class="form-label" asp-for="LocalidadMunicipio"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <input style="text-transform:uppercase" type="text" class="form-control" id="idLocalidadMunicipio"
                     aria-label="John Doe" aria-describedby="2"
                    asp-for="LocalidadMunicipio" readonly />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="Ciudad" class="form-label" asp-for="Ciudad"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <input style="text-transform:uppercase" type="text" class="form-control" id="idCiudad"
                     aria-label="John Doe" aria-describedby="2" asp-for="Ciudad"
                    readonly />
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="Estado" class="form-label" asp-for="Estado"></label>
                <div class="input-group input-group-merge">
                  <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                  <input style="text-transform:uppercase" type="text" class="form-control" id="idEstados"
                    placeholder=" Campo Requerido" aria-label="John Doe" aria-describedby="2" asp-for="Estado"
                    readonly />
                </div>
              </div>
            </div>
            <div class="mt-2">
              <input type="submit" value="Crear" class="btn btn-success" />
              <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
@section Scripts {
@{

await Html.RenderPartialAsync("_ValidationScriptsPartial");

<script type="text/javascript">
  $('input[type="email"]')
    .on('invalid', function () {
      return this.setCustomValidity('Ingresa una dirección de correo válida.');
    })
    .on('input', function () {
      return this.setCustomValidity('');
    });
  $(document).ready(function () {

  });

  function filtro_cp() {

    var valor_cp = document.getElementById("iCodigoPostal").value;

    $.ajax({
      type: "GET",
      url: "/CatCodigosPostales/FiltroCodigosPostales/",
      data: { id: valor_cp },
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {
        var $select_colonias = $('#drpColonias');
        $("#drpColonias").empty();

        if (list.length == 0) {
          $select_colonias.append('<option value="">SELECCIONAR</option>');
          $select_colonias.attr('required', false);
          document.getElementById("idLocalidadMunicipio").value = null;
          document.getElementById("idCiudad").value = null;
          document.getElementById("idEstados").value = null;
        }
        else {
          $select_colonias.append('<option value="">SELECCIONAR</option>');
          for (var i = 0, len = list.length; i < len; i++) {
            $select_colonias.append('<option value=' + list[i].idAsentaCpcons + '>' + list[i].dasenta + '</option>');
            $select_colonias.attr('required', true);
            document.getElementById("idLocalidadMunicipio").value = list[i].dmnpio;
            document.getElementById("idCiudad").value = list[i].dciudad;
            document.getElementById("idEstados").value = list[i].destado;
          }
        }
      },
      error: function () {
        alert("Error!!")
      }
    });
  }
  function filtro_colonias() {

    var valor_col = document.getElementById("idColonia").value;
    var $select_colonias = $('#drpColonias');

    $.ajax({
      type: "GET",
      url: "/CatCodigosPostales/FiltroColonia/",
      data: { id: valor_col },
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          $select_colonias.append('<option value="">SELECCIONAR</option>');
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            $select_colonias.append('<option value=' + list[i].idAsentaCpcons + '>' + list[i].dasenta + '</option>');
          }
        }
      },
      error: function () {
        alert("Error!!")
      }
    });
  }

</script>

}
}