<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Resumen</h4>
  <div class="card">
    <h5 class="card-header">
      <div class="row">
        <div class="mb-3 col-md-6">
          <div class="row mb-3" id="iCorpCent" hidden>
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Corporativo /
              Centro</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                    class="bx bx-check-shield"></i></span>
                <select class="form-select" id="drpCorpCent"
                  asp-items="@(new SelectList(ViewBag.ListaCorpCent,"IdCentro","CentroDesc"))">
                  <option value="">SELECCIONAR</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </h5>
    <div class="card-body">
      <div class="row">
          <div class="col-sm-3">
          <div class="card">
            <h5 class="card-header">
              Movimientos por Dia
            </h5>
            <div class="card-body">
              <h5 class="card-title" id="i_caja_centro_efectivo"></h5>
              <h5 class="card-title" id="i_caja_centro_digital"></h5>
              <h5 class="card-text" id="i_entradas_centro_efectivo"></h5>
              <h5 class="card-text" id="i_entradas_centro_digital"></h5>
              <h5 class="card-text" id="i_salidas_centro_efectivo"></h5>
              <h5 class="card-text" id="i_salidas_centro_digital"></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <h5 class="card-header">
              Capital Incial
            </h5>
            <div class="card-body">
              <h5 class="card-title" id="i_presupuesto_minimo"></h5>
              <h5 class="card-text" id="i_presupuesto_preventivo"></h5>
            </div>
          </div>
        </div>
       
        <div class="col-sm-3">
          <div class="card">
            <h5 class="card-header">
              Gastos
            </h5>
            <div class="card-body">
              <h5 class="card-title" id="i_gasto_fijo"></h5>
              <p class="card-text" id="i_registros_gasto_fijo"></p>
              <h5 class="card-text" id="i_gasto_variable"></h5>
              <p class="card-text" id="i_registros_gasto_variable"></p>
            </div>
          </div>
        </div>
         <div class="col-sm-3">
          <div class="card">
            <h5 class="card-header">
              Ventas
            </h5>
            <div class="card-body">
              <h5 class="card-title" id="i_fMontosVentas"></h5>
              <p class="card-text" id="i_fRegistrosVentas"></p>
            </div>
          </div>
        </div>
     
      </div>
      <br/>
      <div class="row">
                <div class="col-sm-3">
          <div class="card">
            <h5 class="card-header">
              Bancos
            </h5>
            <div class="card-body">
              <h5 class="card-title" id="i_fMontosBancos"></h5>
              <p class="card-text" id="i_fRegistrosBancos"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <h5 class="card-header">
              Inversiones
            </h5>
            <div class="card-body">
              <h5 class="card-title" id="i_fMontosInversiones"></h5>
              <p class="card-text" id="i_fRegistrosInversiones"></p>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
  $(document).ready(function () {
    DatosPresupuesto();
    DatosGastos();
    DatosMovimientos();
    DatosVentas();
 
  });
  function DatosPresupuesto() {
    $.ajax({
      type: "GET",
      url: "/TblCentros/DatosPresupuesto/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

       if (list.length == 0) {
          document.getElementById("i_presupuesto_preventivo").value = null;
          document.getElementById("i_presupuesto_minimo").value = null;
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            
            var presupuesto_minimo = list[i].fMontos;
            var presupuesto_preventivo = list[i].fMontos * 3;
            document.getElementById("i_presupuesto_minimo").innerText = 'Minimo: ' + presupuesto_minimo.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
            document.getElementById("i_presupuesto_preventivo").innerText = 'Preventivo: ' + presupuesto_preventivo.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          }

        }
      },
      error: function () {
        var v_fMontosPresupuesto = 0;
        document.getElementById('i_presupuesto_preventivo').innerText = 'Preventivo: ' + v_fMontosPresupuesto;
        document.getElementById("i_presupuesto_minimo").innerText = 'Minimo: ' + v_fMontosPresupuesto.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      }
    });

    return false;
  }
  function DatosGastos() {
     $.ajax({
      type: "GET",
      url: "/TblSuministroes/DatosSuministros/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

      if (list.length == 0) {
      document.getElementById("i_gasto_fijo").value = null;
      document.getElementById("i_registros_gasto_fijo").value = null;
      }
      else {

      for (var i = 0, len = list.length; i < len; i++) {     
      var v_gasto_fijo = list[i].fMontos;
      var v_registros_gasto_fijo = list[i].fRegistros;
      document.getElementById("i_gasto_fijo").innerText = 'Fijo: ' + v_gasto_fijo.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      document.getElementById('i_registros_gasto_fijo').innerText = 'Acumulado: ' + v_registros_gasto_fijo;
      }

      }
      },
      error: function () {
      var v_fMontosSuministros = 0;
      document.getElementById("i_gasto_fijo").innerText = 'Fijo: ' + v_fMontosSuministros.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      document.getElementById('i_registros_gasto_fijo').innerText = 'Acumulado: ' + v_fMontosSuministros;
      }
    });
    
    return false;
  }
  function DatosUsuarios() {
    $.ajax({
      type: "GET",
      url: "/TblUsuarios/DatosUsuarios/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          document.getElementById("i_fRegistrosUsuarios").value = null;
          document.getElementById("i_fMontosUsuarios").value = null;
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            document.getElementById("i_fMontosUsuarios").innerText = list[i].fTipo + ': ' + list[i].fRegistros;;
          }

        }
      },
      error: function () {
        var v_fMontosUsuarios = 0;
        document.getElementById('i_fRegistrosUsuarios').innerText = 'Desactivos: ' + v_fMontosUsuarios;
        document.getElementById("i_fMontosUsuarios").innerText = 'Activos: ' + v_fMontosUsuarios;
      }
    });
  }
  function DatosNominas() {
    $.ajax({
      type: "GET",
      url: "/TblNominas/DatosNominas/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          document.getElementById("i_fRegistrosNominas").value = null;
          document.getElementById("i_fMontosNominas").value = null;
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            document.getElementById('i_fRegistrosNominas').innerText = 'Total: ' + list[i].fRegistros;
            document.getElementById("i_fMontosNominas").innerText = 'Mont: ' + list[i].fMontos.toLocaleString('en-US', {
              style: 'currency',
              currency: 'USD',
            });
          }

        }
      },
      error: function () {
      var v_fMontosNominas = 0;
        document.getElementById('i_fRegistrosNominas').innerText = 'Total: ' + v_fMontosNominas;
        document.getElementById("i_fMontosNominas").innerText = 'Monto: ' + v_fMontosNominas.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      }
    });
  }
  function DatosPrestamos() {
    $.ajax({
      type: "GET",
      url: "/TblPrestamos/DatosPrestamos/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          document.getElementById("i_fRegistrosPrestamos").value = null;
          document.getElementById("i_fMontosPrestamos").value = null;
          var v_fMontosPrestamos = 0;
        document.getElementById('i_fRegistrosPrestamos').innerText = 'Total: ' + v_fMontosPrestamos;
        document.getElementById("i_fMontosPrestamos").innerText = 'Monto: ' + v_fMontosPrestamos.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            document.getElementById('i_fRegistrosPrestamos').innerText = 'Total: ' + list[i].fRegistros;
            document.getElementById("i_fMontosPrestamos").innerText = 'Monto: ' + list[i].fMontos.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          }

        }
      },
      error: function () {
      var v_fMontosPrestamos = 0;
        document.getElementById('i_fRegistrosPrestamos').innerText = 'Total: ' + v_fMontosPrestamos;
        document.getElementById("i_fMontosPrestamos").innerText = 'Monto: ' + v_fMontosPrestamos.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      }
    });

    return false;
  }
  function DatosSuministros() {
    $.ajax({
      type: "GET",
      url: "/TblSuministroes/DatosResumen/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          document.getElementById("i_fRegistrosSuministros").value = null;
          document.getElementById("i_fMontosSuministros").value = null;
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            document.getElementById('i_fRegistrosSuministros').innerText = 'Total: ' + list[i].fRegistros;
            document.getElementById("i_fMontosSuministros").innerText = 'Monto: ' + list[i].fMontos.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          }

        }
      },
      error: function () {
      var v_fMontosSuministros = 0;
        document.getElementById('i_fRegistrosSuministros').innerText = 'Total: ' + v_fMontosSuministros;
        document.getElementById("i_fMontosSuministros").innerText = 'Monto: ' + v_fMontosSuministros.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      }
    });

    return false;
  }
  function DatosAlumnos() {
    $.ajax({
      type: "GET",
      url: "/TblAlumnos/DatosAlumnos/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          document.getElementById("i_fRegistrosAlumnos").value = null;
          document.getElementById("i_fMontosAlumnos").value = null;
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            document.getElementById('i_fRegistrosAlumnos').innerText = 'Alumnos: ' + list[i].fRegistros;
            document.getElementById("i_fMontosAlumnos").innerText = 'Prospectos: ' + list[i].fTipo;
          }

        }
      },
      error: function () {
        var v_fMontosAlumnos = 0;
        document.getElementById('i_fRegistrosAlumnos').innerText = 'Alumnos: ' + v_fMontosAlumnos;
        document.getElementById("i_fMontosAlumnos").innerText = 'Prospectos: ' + v_fMontosAlumnos;
      }
    });
  }
  function DatosMovimientos() {
    $.ajax({
      type: "GET",
      url: "/TblMovimientos/DatosMovimientos/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          document.getElementById("i_caja_centro_efectivo").value = null;
          document.getElementById("i_caja_centro_digital").value = null;
          document.getElementById("i_entradas_centro_efectivo").value = null;
          document.getElementById("i_entradas_centro_digital").value = null;
          document.getElementById("i_salidas_centro_efectivo").value = null;
          document.getElementById("i_salidas_centro_digital").value = null;
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
             document.getElementById("i_caja_centro_efectivo").innerText = 'Caja Efectivo: ' + list[i].v_caja_centro_efectivo.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_caja_centro_digital").innerText = 'Caja Digital: ' + list[i].v_caja_centro_digital.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_entradas_centro_efectivo").innerText = 'Ingresos Efectivo: ' + list[i].v_entradas_centro_efectivo.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_entradas_centro_digital").innerText = 'Ingresos Digital: ' + list[i].v_entradas_centro_digital.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_salidas_centro_efectivo").innerText = 'Egresos Efectivo: ' + list[i].v_salidas_centro_efectivo.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_salidas_centro_digital").innerText = 'Egresos Digital: ' + list[i].v_salidas_centro_digital.toLocaleString('en-US', {style: 'currency',currency: 'USD',});

          }

        }
      },
      error: function () {
      var v_fMontosVentas = 0;
           document.getElementById("i_caja_centro_efectivo").innerText = 'Caja Efectivo: ' + v_fMontosVentas.v_caja_centro_efectivo.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_caja_centro_digital").innerText = 'Caja Digital: ' + v_fMontosVentas.v_caja_centro_digital.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_entradas_centro_efectivo").innerText = 'Ingresos Efectivo: ' + v_fMontosVentas.v_entradas_centro_efectivo.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_entradas_centro_digital").innerText = 'Ingresos Digital: ' + v_fMontosVentas.v_entradas_centro_digital.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_salidas_centro_efectivo").innerText = 'Egresos Efectivo: ' + v_fMontosVentas.v_salidas_centro_efectivo.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          document.getElementById("i_salidas_centro_digital").innerText = 'Egresos Digital: ' + v_fMontosVentas.v_salidas_centro_digital.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      }
    });

    return false;
  }
  function DatosBancos() {
    $.ajax({
      type: "GET",
      url: "/TblBancos/DatosBancos/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          document.getElementById("i_fRegistrosBancos").value = null;
          document.getElementById("i_fMontosBancos").value = null;
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            document.getElementById('i_fRegistrosBancos').innerText = 'Total: ' + list[i].fRegistros;
            document.getElementById("i_fMontosBancos").innerText = 'Monto: ' + list[i].fMontos.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          }

        }
      },
      error: function () {
      var v_fMontosBancos = 0;
        document.getElementById('i_fRegistrosBancos').innerText = 'Total: ' + v_fMontosBancos;
        document.getElementById("i_fMontosBancos").innerText = 'Monto: ' + v_fMontosBancos.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      }
    });

    return false;
  }
  function DatosInversiones() {
    $.ajax({
      type: "GET",
      url: "/TblInversiones/DatosInversiones/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          document.getElementById("i_fRegistrosInversiones").value = null;
          document.getElementById("i_fMontosInversiones").value = null;
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            document.getElementById('i_fRegistrosInversiones').innerText = 'Total: ' + list[i].fRegistros;
            document.getElementById("i_fMontosInversiones").innerText = 'Monto: ' + list[i].fMontos.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          }

        }
      },
      error: function () {
      var v_fMontosInversiones = 0;
        document.getElementById('i_fRegistrosInversiones').innerText = 'Total: ' + v_fMontosInversiones;
        document.getElementById("i_fMontosInversiones").innerText = 'Monto: ' + v_fMontosInversiones.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      }
    });

    return false;
  }
    function DatosVentas() {
    $.ajax({
      type: "GET",
      url: "/TblVentas/DatosVentas/",
      data: {},
      contentType: "application/json;charset=utf-8",
      dataType: "json",
      success: function (list) {

        if (list.length == 0) {
          document.getElementById("i_fRegistrosVentas").value = null;
          document.getElementById("i_fMontosVentas").value = null;
        }
        else {

          for (var i = 0, len = list.length; i < len; i++) {
            document.getElementById('i_fRegistrosVentas').innerText = 'Total: ' + list[i].fRegistros;
            document.getElementById("i_fMontosVentas").innerText = 'Monto: ' + list[i].fMontos.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
          }

        }
      },
      error: function () {
      var v_fMontosVentas = 0;
        document.getElementById('i_fRegistrosVentas').innerText = 'Total: ' + v_fMontosVentas;
        document.getElementById("i_fMontosVentas").innerText = 'Monto: ' + v_fMontosVentas.toLocaleString('en-US', {style: 'currency',currency: 'USD',});
      }
    });

    return false;
  }
</script>


}