@model WebAdmin.Models.TblSuministro

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Control de Suministro</li>
        <li class="breadcrumb-item active" aria-current="page">Editar Suministro</li>
    </ol>
</nav>
<hr />
        <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdSuministro" />
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="IdTipoSuministro" class="control-label"></label>
                        <select id="drpTipoServicio" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="IdTipoSuministro"
                            asp-items="@(new SelectList(ViewBag.ListaTipoSuministro,"IdTipoSuministro","TipoSuministroDesc"))">
                            <option value="">SELECCIONAR</option>
                        </select>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="SuministroDesc" class="control-label"></label>
                        <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="SuministroDesc" class="form-control" />
                        <span asp-validation-for="SuministroDesc" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="NumeroReferencia" class="control-label"></label>
                        <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="NumeroReferencia" class="form-control" />
                        <span asp-validation-for="NumeroReferencia" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="DiaFacturacion" class="control-label"></label>
                        <input asp-for="DiaFacturacion" class="form-control" type="number" />
                        <span asp-validation-for="DiaFacturacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="MontoSuministro" class="control-label"></label>
                        <input asp-for="MontoSuministro" class="form-control" type="number" />
                        <span asp-validation-for="MontoSuministro" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="IdEstatusRegistro" class="control-label"></label>
                        <select id="idEstatusLista" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="IdEstatusRegistro"
                            asp-items="@(new SelectList(ViewBag.ListaEstatus,"IdEstatusRegistro","EstatusDesc"))">
                            <option value="">SELECCIONAR</option>
                        </select>
                       
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
