@model WebAdmin.Models.TblPresupuestoMovimiento

@{
    ViewData["Title"] = "Crear Tipo de PresupuestoMovimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> PresupuestoMovimientos</h4>
    <div class="col-xxl">
        <div class="card mb-8">
            
            <div class="card-body">
                <form asp-action="Create">
                    <input spellcheck="true" type="hidden" id="iPresupuestoMovimientosDesc" asp-for="IdPresupuestoMovimiento" />
                    <div class="row">
                        <div class="mb-3 col-md-2">
                            <label for="IdTipoPresupuesto" class="form-label" asp-for="IdTipoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-check-shield">
                                        </i>
                                    </span>
                                    <select id="l_tipo_PresupuestoMovimientos" class="form-select" required asp-for="IdTipoPresupuesto"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')"
                                        asp-items="@(new SelectList(ViewBag.ListaSubTipoPresupuesto, "IdTipoPresupuesto", "TipoPresupuestoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="form-label" ></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-check-shield">
                                        </i>
                                    </span>
                                    <select id="l_PresupuestoMovimientos" class="form-select" required
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required>
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="NumeroReferencia" class="form-label" asp-for="NumeroReferencia"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text"
                                    class="form-control" id="i_numero_referencia" required readonly
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="NumeroReferencia" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="DiaCorte" class="form-label" asp-for="DiaCorte"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number"
                                    class="form-control" id="i_dia_corte" required readonly
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="DiaCorte" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="MontoPresupuestoMovimientos" class="form-label">Monto Presupuesto</label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number"
                                    class="form-control" id="i_monto_PresupuestoMovimientos" required readonly
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-2">
                            <label for="MontoPresupuestoMovimientos" class="form-label" asp-for="MontoPresupuestoMovimiento"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number"
                                    class="form-control" id="i_monto_PresupuestoMovimientos" required 
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="MontoPresupuestoMovimiento" />
                            </div>
                        </div>
                         <div class="mb-3 col-md-2">
                                <div class="form-group">
                                    <label class="form-label">TIPO PAGO</label>
                                    <select id="l_tipo_pago" class="form-select"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required
                                        asp-items="@(new SelectList(ViewBag.ListaTipoPago, "IdTipoPago", "TipoPagoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                              <div class="mb-3 col-md-3">
                                <div class="form-group" id="lCodigoPago" hidden>
                                    <label class="form-label">CODIGO PAGO</label>
                                    <input spellcheck="true" id="i_codigo_pago" class="form-control" required />
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <input spellcheck="true" type="submit" value="Guardar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
 $('#l_PresupuestoMovimientos').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
     $('#l_tipo_pago').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        if (SelectedValue != 1) {
            $('#lCodigoPago').removeAttr('hidden');
            document.getElementById("lCodigoPago").setAttribute("required", true);
            document.getElementById('v_forma_pago').innerHTML = 'Forma de Pago: ' + SelectedText;
            document.getElementById('dv_forma_pago').innerHTML = 'Forma de Pago: ' + SelectedText;
        }
        else {
            $('#lCodigoPago').removeAttr('required');
            document.getElementById("lCodigoPago").setAttribute("hidden", true);
            document.getElementById('v_forma_pago').innerHTML = 'Forma de Pago: ' + SelectedText;
            document.getElementById('dv_forma_pago').innerHTML = 'Forma de Pago: ' + SelectedText;
        }
    });
     $('#l_tipo_PresupuestoMovimientos').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();
        $.ajax({
            type: "GET",
            url: "/TblPresupuestoMovimientoses/FiltroPresupuestoMovimientoss/",
            data: { id: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $lista_servicios = $('#l_PresupuestoMovimientos');
                $("#l_PresupuestoMovimientos").empty();

                if (list.length == 0) {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    $lista_servicios.attr('required', false);
                }
                else {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    for (var i = 0, len = list.length; i < len; i++) {
                        $lista_servicios.append('<option value=' + list[i].idPresupuesto + '>' + list[i].presupuestoDesc + '</option>');
                        $lista_servicios.attr('required', true);
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    });
     $('#l_PresupuestoMovimientos').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();
        var n_numeroReferencia = null;
        $.ajax({
            type: "GET",
            url: "/TblPresupuestoMovimientoses/FiltroPresupuestoMovimientos/",
            data: { id: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $lista_servicios = $('#l_PresupuestoMovimientos');

                if (list.length == 0) {
                    document.getElementById("i_numero_referencia").value =  null; 
                         document.getElementById("i_dia_corte").value = null; 
                         document.getElementById("i_monto_PresupuestoMovimientos").value = null; 
                }
                else {
                    
                    for (var i = 0, len = list.length; i < len; i++) {

                        if(list[i].numeroReferencia == null)
                        {
                            n_numeroReferencia = 'N/A';
                        }
                        else
                        {
                            n_numeroReferencia = list[i].numeroReferencia;
                        }
                         document.getElementById("i_numero_referencia").value =  n_numeroReferencia; 
                         document.getElementById("i_dia_corte").value = list[i].diaCorte; 
                         document.getElementById("i_monto_PresupuestoMovimientos").value = list[i].montoPresupuesto; 
                         document.getElementById("iPresupuestoMovimientosDesc").value = list[i].presupuestoDesc; 
                         
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    });
    </script>
}