@model WebAdmin.Models.CatPerfil

@{
    ViewData["Title"] = "Crear Perfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Catálogos /</span> Perfiles</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname" asp-for="PerfilDesc"></label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                        class="bx bx-check-shield"></i></span>
                                <input style="text-transform:uppercase" type="text" class="form-control"
                                    id="basic-icon-default-fullname" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="basic-icon-default-fullname2" asp-for="PerfilDesc" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" value="Crear" class="btn btn-success">Crear</button>
                            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
