@model WebAdmin.Models.TblServicio

@{
    ViewData["Title"] = "Crear Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Empresa</li>
        <li class="breadcrumb-item">Servicio</li>
        <li class="breadcrumb-item">Control de Servicio</li>
        
    </ol>
</nav>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="DescServicio" class="control-label"></label>
                <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="DescServicio" class="form-control" type="text" />
                <span asp-validation-for="DescServicio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="IdTipoServicio" class="control-label"></label>
                <select id="drpTipoServicio" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="IdTipoServicio"
                    asp-items="@(new SelectList(ViewBag.ListaTipoServicio,"IdTipoServicio","TipoServicioDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdTipoServicio" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="CodigoExterno" class="control-label"></label>
                <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="CodigoExterno" class="form-control" type="text" />
                <span asp-validation-for="CodigoExterno" class="text-danger"></span>
            </div>
        </div>
      <div class="col-md-2">
            <div class="form-group">
                <label asp-for="ServicioPrecioUno" class="control-label"></label>
                <input asp-for="ServicioPrecioUno" class="form-control" type="number" />
                <span asp-validation-for="ServicioPrecioUno" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" type="number" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
        </div>
    </div>
  <br />
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </div>
</form>
@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $('#drpTipoServicio').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
</script>
}
