@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<form id="profile-form" method="post" enctype="multipart/form-data">
  <div class="container-xxl flex-grow-1 container-p-y">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Perfil</h4>
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Perfil</a>
                    </li>
                  </ul>
                  <div class="card mb-4">
                    <h5 class="card-header">Detalles de Perfil</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                            @if (Model.Input.ProfilePicture != null)
                {
                    <img 
                    id="profilePicture" style="width:100px;height:100px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
                }
                else
                {
                    <img id="profilePicture"
                      height="100"
                          width="100">
                }
                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Subir Imagen</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                        <input spellcheck="true"
                              type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="Input.ProfilePicture"
                       class="account-file-input"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                          </label>
                          <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                          </button>

                          <p class="text-muted mb-0">Permitidos JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label" asp-for="Input.Nombres"></label>
                            <input spellcheck="true"
                              class="form-control"
                              type="text"
                              name="firstName"
                              autofocus
                              asp-for="Input.Nombres"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label" asp-for="Input.ApellidoPaterno"></label>
                            <input spellcheck="true" class="form-control" type="text" asp-for="Input.ApellidoPaterno" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label" asp-for="Input.ApellidoMaterno"></label>
                            <input spellcheck="true" class="form-control" type="text" asp-for="Input.ApellidoMaterno" />
                          </div>
                         <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber" asp-for="Input.PhoneNumber"></label>
                            <div class="input-group input-group-merge">
                              <span class="input-group-text">MX (+52)</span>
                              <input spellcheck="true"
                                type="text"
                                class="form-control"
                                placeholder="55.00.00.00.00"
                                asp-for="Input.PhoneNumber"
                              />
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label" asp-for="Input.Username"></label>
                            <input spellcheck="true"
                              type="text"
                              class="form-control"
                              asp-for="Input.Username"
                              readonly
                            />
                          </div>
                          
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary me-2">Guardar</button>
                          <button type="reset" >Regresar</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                  <div class="card" hidden>
                    <h5 class="card-header">Eliminar Cuenta</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                          <h6 class="alert-heading fw-bold mb-1">¿Está seguro de que desea eliminar su cuenta?</h6>
                          <p class="mb-0">Una vez que eliminas tu cuenta, no hay vuelta atrás. Por favor, esté seguro.</p>
                        </div>
                      </div>
                      <form id="formAccountDeactivation" onsubmit="return false">
                        <div class="form-check mb-3">
                          <input spellcheck="true"
                            class="form-check-input"
                            type="checkbox"
                            name="accountActivation"
                            id="accountActivation"
                          />
                          <label class="form-check-label" for="accountActivation"
                            >Confirmo la desactivación de mi cuenta</label>
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Desactivar cuenta</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}