@model WebAdmin.Models.TblPresupuesto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Presupuesto</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">

            <div class="card-body">
                <form asp-action="Create">
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label class="form-label" asp-for="IdTipoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                    </span>
                                    <select id="lTipoPresupuesto" class="form-select" required
                                        asp-for="IdTipoPresupuesto"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')"
                                        asp-items="@(new SelectList(ViewBag.ListaTipoPresupuesto, "IdTipoPresupuesto", "TipoPresupuestoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label" asp-for="IdSubTipoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                    </span>
                                    <select id="lSubTipoPresupuesto" class="form-select" required
                                        asp-for="IdSubTipoPresupuesto"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-4" id="c_tipo_servicios" hidden>
                            <label class="form-label">Tipo de Servicio</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                    </span>
                                    <select id="l_tipo_servicios" class="form-select"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required
                                        asp-items="@(new SelectList(ViewBag.ListaTipoServicio, "IdTipoServicio", "TipoServicioDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="DiaCorte" class="form-label" asp-for="DiaCorte"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number"
                                    class="form-control" id="iDiaCorte" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="DiaCorte" min="0"
                                    onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6" id="c_servicios" hidden>
                            <label class="form-label"> Servicios</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                    </span>
                                    <select id="l_servicios" class="form-select" required
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required>
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-8" id="c_presupuesto_desc">
                            <label for="PresupuestoDesc" class="form-label" asp-for="PresupuestoDesc"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text"
                                    class="form-control" id="iPresupuestoDesc" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="PresupuestoDesc" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="MontoPresupuesto" class="form-label" asp-for="MontoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number"
                                    class="form-control" id="iMontoPresupuesto" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="MontoPresupuesto" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="NumeroReferencia" class="form-label" asp-for="NumeroReferencia"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="fa-solid fa-exclamation"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text"
                                    class="form-control" id="iNumeroReferencia" aria-label="John Doe"
                                    aria-describedby="2" asp-for="NumeroReferencia" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>Favor de seleccionar los Meses requeridos</h6>

                        <div class="mb-3 col-md-2" id="">
                            <div class="form-check form-switch mb-2">
                                <input class="form-check-input" type="checkbox" id="checkAll" name="meses" />
                                <label class="form-check-label" for="flexSwitchCheckDefault">Seleccionar Todos</label>
                            </div>
                        </div>
                        <div class="mb-3 col-md-10" id="">
                            <div class="row">
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_enero" name="meses" />
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Enero</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_febrero" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Febrero</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_marzo" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Marzo</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_abril" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Abril</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_mayo" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Mayo</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_junio" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Junio</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_julio" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Julio</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_agosto" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Agosto</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_septiembre" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Septiempre</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_octubre" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Octubre</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_novimebre" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Novimbre</label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_diciembre" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Diciembre</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <input spellcheck="true" type="button" value="Guardar" class="btn btn-info" id="btn_validar" />
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
$('#checkAll').click(function () {    
    $(':checkbox.form-check-input').prop('checked', this.checked);    
 });
    $('#lTipoPresupuesto').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        document.getElementById("iPresupuestoDesc").value = null;
        document.getElementById("iMontoPresupuesto").value = null;
        if (SelectedValue == 0 || SelectedValue == '' || SelectedValue != 1) {
            document.getElementById("c_tipo_servicios").setAttribute("hidden", true);
            document.getElementById("c_servicios").setAttribute("hidden", true);

            $('#c_presupuesto_desc').removeAttr('hidden');
            $('#iDiaCorte').removeAttr('readonly');
            $('#iNumeroReferencia').removeAttr('readonly');
            $('#iPresupuestoDesc').removeAttr('readonly');
            document.getElementById("iDiaCorte").value = null;
            document.getElementById("iNumeroReferencia").value = null;
        }

        else if (SelectedValue == 1) {
            $('#c_tipo_servicios').removeAttr('hidden');
            $('#c_servicios').removeAttr('hidden');
            document.getElementById("iDiaCorte").value = 0;
            document.getElementById("iNumeroReferencia").value = 'N/A';
            document.getElementById("iDiaCorte").setAttribute("readonly", true);
            document.getElementById("iNumeroReferencia").setAttribute("readonly", true);
            document.getElementById("iPresupuestoDesc").setAttribute("readonly", true);
        }

    });
    $('#lMes').select2({

        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#l_servicios').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#l_tipo_servicios').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();
        $.ajax({
            type: "GET",
            url: "/TblServicios/FiltroServicios/",
            data: { id: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $lista_servicios = $('#l_servicios');
                $("#l_servicios").empty();

                if (list.length == 0) {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    $lista_servicios.attr('required', false);
                }
                else {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    for (var i = 0, len = list.length; i < len; i++) {
                        $lista_servicios.append('<option value=' + list[i].idServicio + '>' + list[i].descServicio + '</option>');
                        $lista_servicios.attr('required', true);
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    });
    $('#l_tipo_servicios').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#l_servicios').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        $.ajax({
            type: "GET",
            url: "/TblServicios/fFiltroServicio/",
            data: { idA: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                    document.getElementById("iMontoPresupuesto").value = null;
                }
                else {
                    var rowCount = $('#tbProducto >tbody >tr').length;
                    if (rowCount == 0) {
                        for (var i = 0, len = list.length; i < len; i++) {
                            var f_tipo_servicio = list[i].tipoServicioDesc;
                            var f_servicio = list[i].descServicio;
                            var f_precio = list[i].totalPrecioServicio;
                            var f_codigo_interno = list[i].codigoInterno;

                            document.getElementById("iPresupuestoDesc").value = f_tipo_servicio + ',' + f_servicio;
                            document.getElementById("iMontoPresupuesto").value = f_precio;
                            document.getElementById("iNumeroReferencia").value = f_codigo_interno;
                        }
                    }
                    else {
                        vNotify.info({ text: 'Limitado a 1 Servicio por Venta.', title: 'Intelimundo.' });
                    }
                }
            },
        });
    });
    $('#lTipoPresupuesto').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        $.ajax({
            type: "GET",
            url: "/CatSubTipoPresupuestos/fSubTipoPresupuesto/",
            data: { idA: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $lista_servicios = $('#lSubTipoPresupuesto');
                $("#lSubTipoPresupuesto").empty();

                if (list.length == 0) {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    $lista_servicios.attr('required', false);
                }
                else {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    for (var i = 0, len = list.length; i < len; i++) {
                        $lista_servicios.append('<option value=' + list[i].idSubTipoPresupuesto + '>' + list[i].subTipoPresupuestoDesc + '</option>');
                        $lista_servicios.attr('required', true);
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    });
    $("#btn_validar").on("click", function () {
        var f_tipo_presupuesto = $('#lTipoPresupuesto').val();
        var f_sub_tipo_presupuesto = $('#lSubTipoPresupuesto').val();
        var f_dia_corte = $('#iDiaCorte').val();
        var f_presupuesto_desc = $('#iPresupuestoDesc').val();
        var f_monto_resupuesto = $('#iMontoPresupuesto').val();
        var f_numero_referencia = $('#iNumeroReferencia').val();
        var f_tipo_servicios = $('#l_tipo_servicios').val();
        var f_servicios = $('#l_servicios').val();

        var cuenta_meses = 0;
        var text_meses = [];

        if (f_tipo_presupuesto == "") {
            validate('lTipoPresupuesto')
        }
        else {
            if (f_tipo_presupuesto == 1) {
                if (f_sub_tipo_presupuesto == "") {
                    validate('lSubTipoPresupuesto')
                }
                else if (f_tipo_servicios == "") {
                    validate('l_tipo_servicios')
                }
                else if (f_servicios == "") {
                    validate('l_servicios')
                }
                else if (f_monto_resupuesto == "") {
                    validate('iMontoPresupuesto')
                }
                else {
                    var checkboxes =
                        document.getElementsByName('meses');

                    var result = 0;

                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            result = result + 1;
                            var f_enero = $('#f_enero').val();
                            if (f_enero == "") {

                            }

                        }
                    }
                    if (result == 0) {
                        vNotify.error({ text: 'Favor de seleccionar al menos 1 mes.', title: 'Intelimundo.' });
                    }
                    else {
                        registra_presupuestos(result, f_tipo_presupuesto, f_sub_tipo_presupuesto, f_dia_corte, f_presupuesto_desc, f_monto_resupuesto, f_numero_referencia);
                    }

                }
            }
            else {
                if (f_sub_tipo_presupuesto == "") {
                    validate('lSubTipoPresupuesto')
                }
                else if (f_dia_corte == "") {
                    validate('iDiaCorte')
                }
                else if (f_presupuesto_desc == "") {
                    validate('iPresupuestoDesc')
                }
                else if (f_monto_resupuesto == "") {
                    validate('iMontoPresupuesto')
                }
                else if (f_numero_referencia == "") {
                    validate('iNumeroReferencia')
                }
                else {
                    var checkboxes = document.getElementsByName('meses');

                    if (checkboxes.length == 0) {
                        vNotify.error({ text: 'Favor de seleccionar al menos 1 mes.', title: 'Intelimundo.' });
                    }
                    else {
                        if (checkboxes[0].checked == true) {
                            text_meses.push({ "Mes": "Enero", "idMes": 1 });
                        }
                        if (checkboxes[1].checked == true) {
                            text_meses.push({ "Mes": "Febrero", "idMes": 2 });
                        }
                        if (checkboxes[2].checked == true) {
                            text_meses.push({ "Mes": "Marzo", "idMes": 3 });
                        }
                        if (checkboxes[3].checked == true) {
                            text_meses.push({ "Mes": "Abril", "idMes": 4 });
                        }
                        if (checkboxes[4].checked == true) {
                            text_meses.push({ "Mes": "Mayo", "idMes": 5 });
                        }
                        if (checkboxes[5].checked == true) {
                            text_meses.push({ "Mes": "Junio", "idMes": 6 });
                        }
                        if (checkboxes[6].checked == true) {
                            text_meses.push({ "Mes": "Julio", "idMes": 7 });
                        }
                        if (checkboxes[7].checked == true) {
                            text_meses.push({ "Mes": "Agosto", "idMes": 8 });
                        }
                        if (checkboxes[8].checked == true) {
                            text_meses.push({ "Mes": "Septiempre", "idMes": 9 });
                        }
                        if (checkboxes[9].checked == true) {
                            text_meses.push({ "Mes": "Octubre", "idMes": 10 });
                        }
                        if (checkboxes[10].checked == true) {
                            text_meses.push({ "Mes": "Novimbre", "idMes": 11 });
                        }
                        if (checkboxes[11].checked == true) {
                            text_meses.push({ "Mes": "Diciembre", "idMes": 12 });
                        }
                        registra_presupuestos(text_meses, f_tipo_presupuesto, f_sub_tipo_presupuesto, f_dia_corte, f_presupuesto_desc, f_monto_resupuesto, f_numero_referencia);
                    }
                }
            }
        }
    });
    function validate(inputID) {
        switch (inputID) {
            case 'lTipoPresupuesto':
                vNotify.error({ text: 'Tipo Presupuesto, Requerido.', title: 'Intelimundo.' });
                break;
            case 'lSubTipoPresupuesto':
                vNotify.error({ text: 'SubTipo Presupuesto,, Requerido.', title: 'Intelimundo.' });
                break;
            case 'iDiaCorte':
                vNotify.error({ text: 'Dia de Corte, Requerido.', title: 'Intelimundo.' });
                break;
            case 'iPresupuestoDesc':
                vNotify.error({ text: 'Descripcion, Requerido.', title: 'Intelimundo.' });
                break;
            case 'iMontoPresupuesto':
                vNotify.error({ text: 'Monto, Requerido.', title: 'Intelimundo.' });
                break;
            case 'iNumeroReferencia':
                vNotify.error({ text: 'Numero de Referencia, Requerido.', title: 'Intelimundo.' });
                break;
            case 'l_tipo_servicios':
                vNotify.error({ text: 'Tipo de Servicios, Requerido.', title: 'Intelimundo.' });
                break;
            case 'l_servicios':
                vNotify.error({ text: 'Servicio, Requerido.', title: 'Intelimundo.' });
                break;

            default:
                vNotify.error({ text: 'Err.', title: 'Intelimundo.' });
        }
    }
    function registra_presupuestos(o_meses, f_tipo_presupuesto, f_sub_tipo_presupuesto, f_dia_corte, f_presupuesto_desc, f_monto_resupuesto, f_numero_referencia) {

        if (o_meses.length == 0) {
            vNotify.error({ text: 'Guarda.' + i, title: 'Intelimundo.' });
        }
        else {
            var n_presupuesto = new Object();
            for (var i = 0; i < o_meses.length; i++) {

                n_presupuesto.IdMes = o_meses[i].idMes;
                n_presupuesto.IdTipoPresupuesto = f_tipo_presupuesto;
                n_presupuesto.IdSubTipoPresupuesto = f_sub_tipo_presupuesto;
                n_presupuesto.DiaCorte = f_dia_corte;
                n_presupuesto.PresupuestoDesc = f_presupuesto_desc;
                n_presupuesto.MontoPresupuesto = f_monto_resupuesto;
                n_presupuesto.NumeroReferencia = f_numero_referencia;


                jQuery.ajax({
                    url: '@Url.Action("GuardaAlt", "TblPresupuestos")',
                    type: "POST",
                    data: JSON.stringify(n_presupuesto),
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.respuesta) {
                            vNotify.success({ text: 'Presupuesto(s) Registrado(s).', title: 'Intelimundo.' });
                            var url = '@Url.Action("Index", "TblPresupuestos")';
                            window.location.href = url;
                        }
                    }
                });
            }
        }
    }
</script>
}
