@model WebAdmin.Models.TblPresupuesto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Presupuesto</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">

            <div class="card-body">
                <form asp-action="Create">
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label class="form-label" asp-for="IdTipoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                    </span>
                                    <select id="lTipoPresupuesto" class="form-select" required
                                        asp-for="IdTipoPresupuesto"
                                        asp-items="@(new SelectList(ViewBag.ListaTipoPresupuesto, "IdTipoPresupuesto", "TipoPresupuestoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label" asp-for="IdSubTipoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                    </span>
                                    <select id="lSubTipoPresupuesto" class="form-select" required
                                        asp-for="IdSubTipoPresupuesto">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-4" id="c_tipo_servicios" hidden>
                            <label class="form-label">Tipo de Servicio</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                    </span>
                                    <select id="l_tipo_servicios" class="form-select" required
                                        asp-items="@(new SelectList(ViewBag.ListaTipoServicio, "IdTipoServicio", "TipoServicioDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="DiaCorte" class="form-label" asp-for="DiaCorte"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number"
                                    class="form-control" id="iDiaCorte" required placeholder="Requerido"
                                    aria-label="John Doe" aria-describedby="2" asp-for="DiaCorte" min="0" max="30"
                                    onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6" id="c_servicios" hidden>
                            <label class="form-label"> Servicios</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                    </span>
                                    <select id="l_servicios" class="form-select" required>
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-8" id="c_presupuesto_desc">
                            <label for="PresupuestoDesc" class="form-label" asp-for="PresupuestoDesc"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text"
                                    class="form-control" id="iPresupuestoDesc" required placeholder="Requerido"
                                    aria-label="John Doe" aria-describedby="2" asp-for="PresupuestoDesc" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="MontoPresupuesto" class="form-label" asp-for="MontoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number"
                                    class="form-control" id="iMontoPresupuesto" required placeholder="Requerido"
                                    aria-label="John Doe" aria-describedby="2" asp-for="MontoPresupuesto" min="0"
                                    onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="NumeroReferencia" class="form-label" asp-for="NumeroReferencia"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="fa-solid fa-exclamation"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text"
                                    class="form-control" id="iNumeroReferencia" aria-label="John Doe"
                                    aria-describedby="2" asp-for="NumeroReferencia" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>Favor de seleccionar los Meses requeridos</h6>

                        <div class="mb-3 col-md-2" id="">
                            <div class="form-check form-switch mb-2">
                                <input class="form-check-input" type="checkbox" id="checkAll" name="meses" />
                                <label class="form-check-label" for="flexSwitchCheckDefault">Seleccionar Todos</label>
                            </div>
                        </div>
                        <div class="mb-3 col-md-10" id="">
                            <div class="row">
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_enero" name="meses" />
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Enero</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoEnero" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_febrero" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Febrero</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoFebrero" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_marzo" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Marzo</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoMarzo" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_abril" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Abril</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoAbril" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_mayo" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Mayo</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoMayo" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_junio" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Junio</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoJunio" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_julio" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Julio</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoJulio" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_agosto" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Agosto</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoAgosto" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_septiembre" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Septiembre</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoSeptiembre" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_octubre" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Octubre</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoOctubre" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_novimebre" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Noviembre</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoNoviembre" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-2" id="">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="f_diciembre" name="meses">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Diciembre</label>
                                        <input spellcheck="true" style="text-transform:uppercase" type="number"
                                            class="form-control" id="iMontoPresupuestoDiciembre" required
                                            aria-label="John Doe" aria-describedby="2" min="0"
                                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <input type="button" value="Guardar" class="btn btn-info" id="btn_validar" />
                        <input type="button" value="Calendario" class="btn btn-secondary" id="btn_calendario"
                            data-bs-toggle="modal" data-bs-target="#modalCalendario" />
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCalendario" aria-labelledby="modalNominaLabel" tabindex="-1" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNominaLabel">Calendario de Servicios Intelimundo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table" id="tbProducto">
                            <thead>
                                <th style="text-align:center">
                                    Enero
                                </th>
                                <th style="text-align:center">
                                    Febrero
                                </th>
                                <th style="text-align:center">
                                    Marzo
                                </th>
                                <th style="text-align:center">
                                    Abril
                                </th>
                                <th style="text-align:center">
                                    Mayo
                                </th>
                                <th style="text-align:center">
                                    Junio
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        COMIPEMS
                                    </td>
                                    <td>
                                        COMIPEMS
                                    </td>
                                    <td>
                                        COMIPEMS
                                    </td>
                                    <td>
                                        REGULARIZACION
                                    </td>
                                    <td>
                                        VERANO FANTASTICO
                                    </td>
                                    <td>
                                        VERANO FANTASTICO
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        IDANIS
                                    </td>
                                    <td>
                                        IDANIS
                                    </td>
                                    <td>
                                        IDANIS
                                    </td>
                                    <td>
                                        IDANIS
                                    </td>
                                    <td>
                                        IDANIS
                                    </td>
                                    <td>
                                        IDANIS
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        CLUB DE TAREAS
                                    </td>
                                    <td>
                                        CLUB DE TAREAS
                                    </td>
                                    <td>
                                        CLUB DE TAREAS
                                    </td>
                                    <td>
                                        CLUB DE TAREAS
                                    </td>
                                    <td>
                                        CLUB DE TAREAS
                                    </td>
                                    <td>
                                        CLUB DE TAREAS
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table" id="tbProducto">
                        <thead>
                            <th style="text-align:center">
                                Julio
                            </th>
                            <th style="text-align:center">
                                Agosto
                            </th>
                            <th style="text-align:center">
                                Septiembre
                            </th>
                            <th style="text-align:center">
                                Octubre
                            </th>
                            <th style="text-align:center">
                                Novimbre
                            </th>
                            <th style="text-align:center">
                                Diciembre
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    VERANO FANTASTICO
                                </td>
                                <td>
                                    COMIPEMS
                                </td>
                                <td>
                                    COMIPEMS
                                </td>
                                <td>
                                    COMIPEMS
                                </td>
                                <td>
                                    COMIPEMS
                                </td>
                                <td>
                                    COMIPEMS
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    REGULARIZACION
                                </td>
                                <td>
                                    REGULARIZACION
                                </td>
                                <td>
                                    REGULARIZACION
                                </td>
                                <td>
                                    REGULARIZACION
                                </td>
                                <td>
                                    REGULARIZACION
                                </td>
                                <td>
                                    REGULARIZACION
                                </td>

                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    CLUB DE TAREAS

                                </td>
                                <td>
                                    CLUB DE TAREAS
                                </td>
                                <td>
                                    CLUB DE TAREAS
                                </td>
                                <td>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('#checkAll').click(function () {
        $(':checkbox.form-check-input').prop('checked', this.checked);
    });
    $('#lTipoPresupuesto').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        document.getElementById("iPresupuestoDesc").value = null;
        document.getElementById("iMontoPresupuesto").value = null;
        if (SelectedValue == 0 || SelectedValue == '' || SelectedValue != 1) {
            document.getElementById("c_tipo_servicios").setAttribute("hidden", true);
            document.getElementById("c_servicios").setAttribute("hidden", true);

            $('#c_presupuesto_desc').removeAttr('hidden');
            $('#iDiaCorte').removeAttr('readonly');
            $('#iNumeroReferencia').removeAttr('readonly');
            $('#iPresupuestoDesc').removeAttr('readonly');
            document.getElementById("iDiaCorte").value = null;
            document.getElementById("iNumeroReferencia").value = null;
        }

        else if (SelectedValue == 1) {
            $('#c_tipo_servicios').removeAttr('hidden');
            $('#c_servicios').removeAttr('hidden');
            document.getElementById("iDiaCorte").value = 0;
            document.getElementById("iNumeroReferencia").value = 'N/A';
            document.getElementById("iDiaCorte").setAttribute("readonly", true);
            document.getElementById("iNumeroReferencia").setAttribute("readonly", true);
            document.getElementById("iPresupuestoDesc").setAttribute("readonly", true);
        }

    });
    $('#lMes').select2({

        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#l_servicios').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#l_tipo_servicios').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();
        $.ajax({
            type: "GET",
            url: "/TblServicios/FiltroServicios/",
            data: { id: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $lista_servicios = $('#l_servicios');
                $("#l_servicios").empty();

                if (list.length == 0) {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    $lista_servicios.attr('required', false);
                }
                else {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    for (var i = 0, len = list.length; i < len; i++) {
                        $lista_servicios.append('<option value=' + list[i].idServicio + '>' + list[i].descServicio + '</option>');
                        $lista_servicios.attr('required', true);
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    });
    $('#l_tipo_servicios').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#l_servicios').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        $.ajax({
            type: "GET",
            url: "/TblServicios/fFiltroServicio/",
            data: { idA: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                    document.getElementById("iMontoPresupuesto").value = null;
                }
                else {

                    for (var i = 0, len = list.length; i < len; i++) {
                        var f_tipo_servicio = list[i].tipoServicioDesc;
                        var f_servicio = list[i].descServicio;
                        var f_precio = list[i].totalPrecioServicio;
                        var f_codigo_interno = list[i].codigoInterno;

                        document.getElementById("iPresupuestoDesc").value = f_tipo_servicio + ',' + f_servicio;
                        document.getElementById("iMontoPresupuesto").value = f_precio;
                        document.getElementById("iNumeroReferencia").value = f_codigo_interno;
                    }
                }
            },
        });
    });
    $('#lTipoPresupuesto').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        $.ajax({
            type: "GET",
            url: "/CatSubTipoPresupuestos/fSubTipoPresupuesto/",
            data: { idA: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $lista_servicios = $('#lSubTipoPresupuesto');
                $("#lSubTipoPresupuesto").empty();

                if (list.length == 0) {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    $lista_servicios.attr('required', false);
                }
                else {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    for (var i = 0, len = list.length; i < len; i++) {
                        $lista_servicios.append('<option value=' + list[i].idSubTipoPresupuesto + '>' + list[i].subTipoPresupuestoDesc + '</option>');
                        $lista_servicios.attr('required', true);
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    });
    $("#btn_validar").on("click", function () {
        var f_tipo_presupuesto = $('#lTipoPresupuesto').val();
        var f_sub_tipo_presupuesto = $('#lSubTipoPresupuesto').val();
        var f_dia_corte = $('#iDiaCorte').val();
        var f_presupuesto_desc = $('#iPresupuestoDesc').val().toUpperCase();
        var f_monto_resupuesto = $('#iMontoPresupuesto').val();
        var f_numero_referencia = $('#iNumeroReferencia').val().toUpperCase();;
        var f_tipo_servicios = $('#l_tipo_servicios').val();
        var f_servicios = $('#l_servicios').val();

        var cuenta_meses = 0;
        var text_meses = [];

        if (f_tipo_presupuesto == "") {
            validate('lTipoPresupuesto')
        }
        else {
            if (f_tipo_presupuesto == 1) {
                if (f_sub_tipo_presupuesto == "") {
                    validate('lSubTipoPresupuesto')
                }
                else if (f_tipo_servicios == "") {
                    validate('l_tipo_servicios')
                }
                else if (f_servicios == "") {
                    validate('l_servicios')
                }
                else if (f_monto_resupuesto == "") {
                    validate('iMontoPresupuesto')
                }
                else {
                    var checkboxes = document.getElementsByName('meses');

                    if (checkboxes[0].checked != true) {

                        var result = 0;

                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].checked) {
                                result = result + 1;
                            }
                        }
                        if (result == 0) {
                            vNotify.error({ text: 'Favor de seleccionar al menos 1 mes.', title: 'Intelimundo.' });
                        }
                        else {
                            if (checkboxes[1].checked == true) {
                                let i_MontoPresupuestoEnero = $('#iMontoPresupuestoEnero').val();

                                if (i_MontoPresupuestoEnero == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad para Enero.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoEnero, "Mes": "Enero", "idMes": 1 });
                                }
                            }
                            if (checkboxes[2].checked == true) {
                                let i_MontoPresupuestoFebrero = $('#iMontoPresupuestoFebrero').val();

                                if (i_MontoPresupuestoFebrero == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Febrero.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoFebrero, "Mes": "Febrero", "idMes": 2 });
                                }

                            }
                            if (checkboxes[3].checked == true) {
                                let i_MontoPresupuestoMarzo = $('#iMontoPresupuestoMarzo').val();

                                if (i_MontoPresupuestoMarzo == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Marzo.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoMarzo, "Mes": "Marzo", "idMes": 3 });
                                }

                            }
                            if (checkboxes[4].checked == true) {
                                let i_MontoPresupuestoAbril = $('#iMontoPresupuestoAbril').val();

                                if (i_MontoPresupuestoAbril == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Abril.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoAbril, "Mes": "Abril", "idMes": 4 });
                                }

                            }
                            if (checkboxes[5].checked == true) {
                                let i_MontoPresupuestoMayo = $('#iMontoPresupuestoMayo').val();

                                if (i_MontoPresupuestoMayo == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Mayo.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoMayo, "Mes": "Mayo", "idMes": 5 });
                                }

                            }
                            if (checkboxes[6].checked == true) {
                                let i_MontoPresupuestoJunio = $('#iMontoPresupuestoJunio').val();

                                if (i_MontoPresupuestoJunio == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Junio.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoJunio, "Mes": "Junio", "idMes": 6 });
                                }

                            }
                            if (checkboxes[7].checked == true) {
                                let i_MontoPresupuestoJulio = $('#iMontoPresupuestoJulio').val();

                                if (i_MontoPresupuestoJulio == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Julio.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoJulio, "Mes": "Julio", "idMes": 7 });
                                }

                            }
                            if (checkboxes[8].checked == true) {
                                let i_MontoPresupuestoAgosto = $('#iMontoPresupuestoAgosto').val();

                                if (i_MontoPresupuestoAgosto == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Agosto.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoAgosto, "Mes": "Agosto", "idMes": 8 });
                                }

                            }
                            if (checkboxes[9].checked == true) {
                                let i_MontoPresupuestoSeptiembre = $('#iMontoPresupuestoSeptiembre').val();

                                if (i_MontoPresupuestoSeptiembre == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Septiembre.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoSeptiembre, "Mes": "Septiembre", "idMes": 9 });
                                }

                            }
                            if (checkboxes[10].checked == true) {
                                let i_MontoPresupuestoOctubre = $('#iMontoPresupuestoOctubre').val();

                                if (i_MontoPresupuestoOctubre == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Octubre.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoOctubre, "Mes": "Octubre", "idMes": 10 });
                                }

                            }
                            if (checkboxes[11].checked == true) {
                                let i_MontoPresupuestoNoviembre = $('#iMontoPresupuestoNoviembre').val();

                                if (i_MontoPresupuestoNoviembre == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Noviembre.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoNoviembre, "Mes": "Noviembre", "idMes": 11 });
                                }

                            }
                            if (checkboxes[12].checked == true) {
                                let i_MontoPresupuestoDiciembre = $('#iMontoPresupuestoDiciembre').val();

                                if (i_MontoPresupuestoDiciembre == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Diciembre.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoDiciembre, "Mes": "Diciembre", "idMes": 12 });
                                }

                            }
                            if (text_meses.length != 0) {
                                registra_presupuestos(text_meses, f_tipo_presupuesto, f_sub_tipo_presupuesto, f_dia_corte, f_presupuesto_desc, f_monto_resupuesto, f_numero_referencia);
                            }
                            else {
                                vNotify.error({ text: 'Favor de completar todos los meses.', title: 'Intelimundo.' });
                            }
                        }
                    }
                    else {
                        if (checkboxes[1].checked == true) {
                            let i_MontoPresupuestoEnero = $('#iMontoPresupuestoEnero').val();

                            if (i_MontoPresupuestoEnero == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad para Enero.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoEnero, "Mes": "Enero", "idMes": 1 });
                            }
                        }
                        if (checkboxes[2].checked == true) {
                            let i_MontoPresupuestoFebrero = $('#iMontoPresupuestoFebrero').val();

                            if (i_MontoPresupuestoFebrero == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Febrero.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoFebrero, "Mes": "Febrero", "idMes": 2 });
                            }

                        }
                        if (checkboxes[3].checked == true) {
                            let i_MontoPresupuestoMarzo = $('#iMontoPresupuestoMarzo').val();

                            if (i_MontoPresupuestoMarzo == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Marzo.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoMarzo, "Mes": "Marzo", "idMes": 3 });
                            }

                        }
                        if (checkboxes[4].checked == true) {
                            let i_MontoPresupuestoAbril = $('#iMontoPresupuestoAbril').val();

                            if (i_MontoPresupuestoAbril == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Abril.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoAbril, "Mes": "Abril", "idMes": 4 });
                            }

                        }
                        if (checkboxes[5].checked == true) {
                            let i_MontoPresupuestoMayo = $('#iMontoPresupuestoMayo').val();

                            if (i_MontoPresupuestoMayo == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Mayo.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoMayo, "Mes": "Mayo", "idMes": 5 });
                            }

                        }
                        if (checkboxes[6].checked == true) {
                            let i_MontoPresupuestoJunio = $('#iMontoPresupuestoJunio').val();

                            if (i_MontoPresupuestoJunio == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Junio.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoJunio, "Mes": "Junio", "idMes": 6 });
                            }

                        }
                        if (checkboxes[7].checked == true) {
                            let i_MontoPresupuestoJulio = $('#iMontoPresupuestoJulio').val();

                            if (i_MontoPresupuestoJulio == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Julio.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoJulio, "Mes": "Julio", "idMes": 7 });
                            }

                        }
                        if (checkboxes[8].checked == true) {
                            let i_MontoPresupuestoAgosto = $('#iMontoPresupuestoAgosto').val();

                            if (i_MontoPresupuestoAgosto == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Agosto.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoAgosto, "Mes": "Agosto", "idMes": 8 });
                            }

                        }
                        if (checkboxes[9].checked == true) {
                            let i_MontoPresupuestoSeptiembre = $('#iMontoPresupuestoSeptiembre').val();

                            if (i_MontoPresupuestoSeptiembre == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Septiembre.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoSeptiembre, "Mes": "Septiembre", "idMes": 9 });
                            }

                        }
                        if (checkboxes[10].checked == true) {
                            let i_MontoPresupuestoOctubre = $('#iMontoPresupuestoOctubre').val();

                            if (i_MontoPresupuestoOctubre == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Octubre.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoOctubre, "Mes": "Octubre", "idMes": 10 });
                            }

                        }
                        if (checkboxes[11].checked == true) {
                            let i_MontoPresupuestoNoviembre = $('#iMontoPresupuestoNoviembre').val();

                            if (i_MontoPresupuestoNoviembre == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Noviembre.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoNoviembre, "Mes": "Noviembre", "idMes": 11 });
                            }

                        }
                        if (checkboxes[12].checked == true) {
                            let i_MontoPresupuestoDiembre = $('#iMontoPresupuestoDiciembre').val();

                            if (i_MontoPresupuestoDiembre == "") {

                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoDiembre, "Mes": "Diciembre", "idMes": 12 });
                            }

                        }
                        if (text_meses.length == 12) {
                            registra_presupuestos(text_meses, f_tipo_presupuesto, f_sub_tipo_presupuesto, f_dia_corte, f_presupuesto_desc, f_monto_resupuesto, f_numero_referencia);
                        }
                        else {
                            vNotify.error({ text: 'Favor de completar todos los meses.', title: 'Intelimundo.' });
                        }

                    }

                }
            }
            else {
                if (f_sub_tipo_presupuesto == "") {
                    validate('lSubTipoPresupuesto')
                }
                else if (f_dia_corte == "") {
                    validate('iDiaCorte')
                }
                else if (f_presupuesto_desc == "") {
                    validate('iPresupuestoDesc')
                }
                else if (f_monto_resupuesto == "") {
                    validate('iMontoPresupuesto')
                }
                else if (f_numero_referencia == "") {
                    validate('iNumeroReferencia')
                }
                else {
                    var checkboxes = document.getElementsByName('meses');

                    if (checkboxes[0].checked != true) {

                        var result = 0;

                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].checked) {
                                result = result + 1;
                            }
                        }
                        if (result == 0) {
                            vNotify.error({ text: 'Favor de seleccionar al menos 1 mes.', title: 'Intelimundo.' });
                        }
                        else {
                            if (checkboxes[1].checked == true) {
                                let i_MontoPresupuestoEnero = $('#iMontoPresupuestoEnero').val();

                                if (i_MontoPresupuestoEnero == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad para Enero.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoEnero, "Mes": "Enero", "idMes": 1 });
                                }
                            }
                            if (checkboxes[2].checked == true) {
                                let i_MontoPresupuestoFebrero = $('#iMontoPresupuestoFebrero').val();

                                if (i_MontoPresupuestoFebrero == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Febrero.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoFebrero, "Mes": "Febrero", "idMes": 2 });
                                }

                            }
                            if (checkboxes[3].checked == true) {
                                let i_MontoPresupuestoMarzo = $('#iMontoPresupuestoMarzo').val();

                                if (i_MontoPresupuestoMarzo == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Marzo.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoMarzo, "Mes": "Marzo", "idMes": 3 });
                                }

                            }
                            if (checkboxes[4].checked == true) {
                                let i_MontoPresupuestoAbril = $('#iMontoPresupuestoAbril').val();

                                if (i_MontoPresupuestoAbril == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Abril.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoAbril, "Mes": "Abril", "idMes": 4 });
                                }

                            }
                            if (checkboxes[5].checked == true) {
                                let i_MontoPresupuestoMayo = $('#iMontoPresupuestoMayo').val();

                                if (i_MontoPresupuestoMayo == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Mayo.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoMayo, "Mes": "Mayo", "idMes": 5 });
                                }

                            }
                            if (checkboxes[6].checked == true) {
                                let i_MontoPresupuestoJunio = $('#iMontoPresupuestoJunio').val();

                                if (i_MontoPresupuestoJunio == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Junio.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoJunio, "Mes": "Junio", "idMes": 6 });
                                }

                            }
                            if (checkboxes[7].checked == true) {
                                let i_MontoPresupuestoJulio = $('#iMontoPresupuestoJulio').val();

                                if (i_MontoPresupuestoJulio == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Julio.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoJulio, "Mes": "Julio", "idMes": 7 });
                                }

                            }
                            if (checkboxes[8].checked == true) {
                                let i_MontoPresupuestoAgosto = $('#iMontoPresupuestoAgosto').val();

                                if (i_MontoPresupuestoAgosto == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Agosto.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoAgosto, "Mes": "Agosto", "idMes": 8 });
                                }

                            }
                            if (checkboxes[9].checked == true) {
                                let i_MontoPresupuestoSeptiembre = $('#iMontoPresupuestoSeptiembre').val();

                                if (i_MontoPresupuestoSeptiembre == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Septiembre.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoSeptiembre, "Mes": "Septiembre", "idMes": 9 });
                                }

                            }
                            if (checkboxes[10].checked == true) {
                                let i_MontoPresupuestoOctubre = $('#iMontoPresupuestoOctubre').val();

                                if (i_MontoPresupuestoOctubre == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Octubre.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoOctubre, "Mes": "Octubre", "idMes": 10 });
                                }

                            }
                            if (checkboxes[11].checked == true) {
                                let i_MontoPresupuestoNoviembre = $('#iMontoPresupuestoNoviembre').val();

                                if (i_MontoPresupuestoNoviembre == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Noviembre.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoNoviembre, "Mes": "Noviembre", "idMes": 11 });
                                }

                            }
                            if (checkboxes[12].checked == true) {
                                let i_MontoPresupuestoDiciembre = $('#iMontoPresupuestoDiciembre').val();

                                if (i_MontoPresupuestoDiciembre == "") {
                                    vNotify.error({ text: 'Favor de agregar una cantidad Diciembre.', title: 'Intelimundo.' });
                                }
                                else {
                                    text_meses.push({ "Cantidad": i_MontoPresupuestoDiciembre, "Mes": "Diciembre", "idMes": 12 });
                                }

                            }
                            if (text_meses.length != 0) {
                                registra_presupuestos(text_meses, f_tipo_presupuesto, f_sub_tipo_presupuesto, f_dia_corte, f_presupuesto_desc, f_monto_resupuesto, f_numero_referencia);
                            }
                            else {
                                vNotify.error({ text: 'Favor de completar todos los meses.', title: 'Intelimundo.' });
                            }
                        }
                    }
                    else {
                        if (checkboxes[1].checked == true) {
                            let i_MontoPresupuestoEnero = $('#iMontoPresupuestoEnero').val();

                            if (i_MontoPresupuestoEnero == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad para Enero.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoEnero, "Mes": "Enero", "idMes": 1 });
                            }
                        }
                        if (checkboxes[2].checked == true) {
                            let i_MontoPresupuestoFebrero = $('#iMontoPresupuestoFebrero').val();

                            if (i_MontoPresupuestoFebrero == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Febrero.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoFebrero, "Mes": "Febrero", "idMes": 2 });
                            }

                        }
                        if (checkboxes[3].checked == true) {
                            let i_MontoPresupuestoMarzo = $('#iMontoPresupuestoMarzo').val();

                            if (i_MontoPresupuestoMarzo == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Marzo.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoMarzo, "Mes": "Marzo", "idMes": 3 });
                            }

                        }
                        if (checkboxes[4].checked == true) {
                            let i_MontoPresupuestoAbril = $('#iMontoPresupuestoAbril').val();

                            if (i_MontoPresupuestoAbril == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Abril.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoAbril, "Mes": "Abril", "idMes": 4 });
                            }

                        }
                        if (checkboxes[5].checked == true) {
                            let i_MontoPresupuestoMayo = $('#iMontoPresupuestoMayo').val();

                            if (i_MontoPresupuestoMayo == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Mayo.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoMayo, "Mes": "Mayo", "idMes": 5 });
                            }

                        }
                        if (checkboxes[6].checked == true) {
                            let i_MontoPresupuestoJunio = $('#iMontoPresupuestoJunio').val();

                            if (i_MontoPresupuestoJunio == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Junio.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoJunio, "Mes": "Junio", "idMes": 6 });
                            }

                        }
                        if (checkboxes[7].checked == true) {
                            let i_MontoPresupuestoJulio = $('#iMontoPresupuestoJulio').val();

                            if (i_MontoPresupuestoJulio == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Julio.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoJulio, "Mes": "Julio", "idMes": 7 });
                            }

                        }
                        if (checkboxes[8].checked == true) {
                            let i_MontoPresupuestoAgosto = $('#iMontoPresupuestoAgosto').val();

                            if (i_MontoPresupuestoAgosto == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Agosto.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoAgosto, "Mes": "Agosto", "idMes": 8 });
                            }

                        }
                        if (checkboxes[9].checked == true) {
                            let i_MontoPresupuestoSeptiembre = $('#iMontoPresupuestoSeptiembre').val();

                            if (i_MontoPresupuestoSeptiembre == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Septiembre.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoSeptiembre, "Mes": "Septiembre", "idMes": 9 });
                            }

                        }
                        if (checkboxes[10].checked == true) {
                            let i_MontoPresupuestoOctubre = $('#iMontoPresupuestoOctubre').val();

                            if (i_MontoPresupuestoOctubre == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Octubre.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoOctubre, "Mes": "Octubre", "idMes": 10 });
                            }

                        }
                        if (checkboxes[11].checked == true) {
                            let i_MontoPresupuestoNoviembre = $('#iMontoPresupuestoNoviembre').val();

                            if (i_MontoPresupuestoNoviembre == "") {
                                vNotify.error({ text: 'Favor de agregar una cantidad Noviembre.', title: 'Intelimundo.' });
                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoNoviembre, "Mes": "Noviembre", "idMes": 11 });
                            }

                        }
                        if (checkboxes[12].checked == true) {
                            let i_MontoPresupuestoDiembre = $('#iMontoPresupuestoDiciembre').val();

                            if (i_MontoPresupuestoDiembre == "") {

                            }
                            else {
                                text_meses.push({ "Cantidad": i_MontoPresupuestoDiembre, "Mes": "Diciembre", "idMes": 12 });
                            }

                        }
                        if (text_meses.length == 12) {
                            registra_presupuestos(text_meses, f_tipo_presupuesto, f_sub_tipo_presupuesto, f_dia_corte, f_presupuesto_desc, f_monto_resupuesto, f_numero_referencia);
                        }
                        else {
                            vNotify.error({ text: 'Favor de completar todos los meses.', title: 'Intelimundo.' });
                        }

                    }
                }
            }
        }
    });
    function validate(inputID) {
        switch (inputID) {
            case 'lTipoPresupuesto':
                vNotify.error({ text: 'Tipo Presupuesto, Requerido.', title: 'Intelimundo.' });
                break;
            case 'lSubTipoPresupuesto':
                vNotify.error({ text: 'SubTipo Presupuesto,, Requerido.', title: 'Intelimundo.' });
                break;
            case 'iDiaCorte':
                vNotify.error({ text: 'Día de Corte, Requerido.', title: 'Intelimundo.' });
                break;
            case 'iPresupuestoDesc':
                vNotify.error({ text: 'Descripción, Requerido.', title: 'Intelimundo.' });
                break;
            case 'iMontoPresupuesto':
                vNotify.error({ text: 'Monto, Requerido.', title: 'Intelimundo.' });
                break;
            case 'iNumeroReferencia':
                vNotify.error({ text: 'Numero de Referencia, Requerido.', title: 'Intelimundo.' });
                break;
            case 'l_tipo_servicios':
                vNotify.error({ text: 'Tipo de Servicios, Requerido.', title: 'Intelimundo.' });
                break;
            case 'l_servicios':
                vNotify.error({ text: 'Servicio, Requerido.', title: 'Intelimundo.' });
                break;

            default:
                vNotify.error({ text: 'Err.', title: 'Intelimundo.' });
        }
    }
    function registra_presupuestos(o_meses, f_tipo_presupuesto, f_sub_tipo_presupuesto, f_dia_corte, f_presupuesto_desc, f_monto_resupuesto, f_numero_referencia) {

        if (o_meses.length == 0) {
            vNotify.error({ text: 'Guarda.' + i, title: 'Intelimundo.' });
        }
        else {
            var n_presupuesto = new Object();
            for (var i = 0; i < o_meses.length; i++) {

                let f_cantidad = o_meses[i].Cantidad;
                for (r = 0; r < f_cantidad; r++) {

                    n_presupuesto.IdMes = o_meses[i].idMes;
                    n_presupuesto.IdTipoPresupuesto = f_tipo_presupuesto;
                    n_presupuesto.IdSubTipoPresupuesto = f_sub_tipo_presupuesto;
                    n_presupuesto.DiaCorte = f_dia_corte;
                    n_presupuesto.PresupuestoDesc = f_presupuesto_desc;
                    n_presupuesto.MontoPresupuesto = f_monto_resupuesto;
                    n_presupuesto.NumeroReferencia = f_numero_referencia;

                    jQuery.ajax({
                        url: '@Url.Action("GuardaAlt", "TblPresupuestos")',
                        type: "POST",
                        data: JSON.stringify(n_presupuesto),
                        datatype: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.respuesta) {
                                vNotify.success({ text: 'Presupuesto(s) Registrado(s).', title: 'Intelimundo.' });
                                var url = '@Url.Action("Index", "TblPresupuestos")';
                                window.location.href = url;
                            }
                        }
                    });
                }
            }
        }
    }
</script>
}
