@model WebAdmin.Models.CatTipoFormaPago

@{
    ViewData["Title"] = "Crear Tipo Forma de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Control de Forma de Pago</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Forma de Pago</li>
    </ol>
</nav>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for=" TipoFormaPagoDesc" class="control-label"></label>
                <input  style="text-transform:uppercase" placeholder="Requerido" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for=" TipoFormaPagoDesc" class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
