@model WebAdmin.Models.CatTipoSuministro

@{
ViewData["Title"] = "Editar Tipo Suministro";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Empresa</li>
        <li class="breadcrumb-item">Control Tipo de Suministro</li>
        <li class="breadcrumb-item active" aria-current="page">Editar Tipo Suministro</li>
    </ol>
</nav>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdTipoSuministro" id="IdMarca" />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="TipoSuministroDesc" class="control-label"></label>
                <input style="text-transform:uppercase" placeholder="Requerido" type="text"
                    oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required
                    asp-for="TipoSuministroDesc" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IdEstatusRegistro" class="control-label"></label>
                <select id="idEstatusLista" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')"
                    onchange="this.setCustomValidity('')" required asp-for="IdEstatusRegistro"
                    asp-items="@(new SelectList(ViewBag.ListaCatEstatus," IdEstatusRegistro","EstatusDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Actializar" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</form>


@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $(document).ready(function () {
        $(".statesSelect").select2();
    });
</script>
}