@model WebAdmin.Models.TblPrestamo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Control de Prestamos</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Prestamo</li>
    </ol>
</nav>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdTipoPrestamo" class="control-label"></label>
                <select id="lTipoPrestamo" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="IdTipoPrestamo"
                    asp-items="@(new SelectList(ViewBag.ListaCatTipoPrestamo,"IdTipoPrestamo","TipoPrestamoDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
               
            </div>
        </div>
        <div class="col-md-4">
              <div class="form-group">
                <label asp-for="PrestamoDesc" class="control-label"></label>
                <input asp-for="PrestamoDesc" style="text-transform:uppercase" class="form-control" />
                <span asp-validation-for="PrestamoDesc" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-2">
                 <div class="form-group">
                <label asp-for="CantidadPrestamo" class="control-label"></label>
                <input asp-for="CantidadPrestamo"  class="form-control" type="number"/>
                <span asp-validation-for="CantidadPrestamo" class="text-danger"></span>
            </div>
            </div>
            
        <div class="col-md-4">
            <div class="form-group" hidden id="hIdCentroPrestamo">
                <label asp-for="IdCentroPrestamo" class="control-label"></label>
                <select id="lIdCentroPrestamo" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="IdCentroPrestamo"
                    asp-items="@(new SelectList(ViewBag.ListaCorpCent,"IdCentro","CentroDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IdPeriodoAmortiza" class="control-label"></label>
                <select id="lIdPeriodoAmortiza" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="IdPeriodoAmortiza"
                    asp-items="@(new SelectList(ViewBag.ListaCatPeriodoAmortiza,"IdPeriodoAmortiza","PeriodoAmortizaDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IdTipoFormaPago" class="control-label"></label>
                <select id="lIdTipoFormaPago" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="IdTipoFormaPago"
                    asp-items="@(new SelectList(ViewBag.ListaCatTipoFormaPago,"IdTipoFormaPago","TipoFormaPagoDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
                
            </div>
        </div>
        </div>
        <div class="row" hidden id="rPersona">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="Nombres" class="form-control" />
               
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="ApellidoPaterno" class="control-label"></label>
                <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="ApellidoPaterno" class="form-control" />
                
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="ApellidoMaterno" class="control-label"></label>
                <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="ApellidoMaterno" class="form-control" />
                
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="curp" class="control-label"></label>
                <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="curp" class="form-control" />
                
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="ine" class="control-label"></label>
                <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="ine" class="form-control" />
               
            </div>
        </div>
   
    </div>
 <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        <a asp-action="" asp-route-IdNomina="1" class="btn btn-info text-white">Imprimir</a>
    </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $('#lTipoPrestamo').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();
        if (SelectedText == "INTERNO") {
            document.getElementById("rPersona").setAttribute("hidden", true);
            $('#hIdCentroPrestamo').removeAttr('hidden');
        }
        else {
            document.getElementById("hIdCentroPrestamo").setAttribute("hidden", true);
            $('#rPersona').removeAttr('hidden');
        }
    });
</script>
}
