@model WebAdmin.Models.TblPrestamo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Préstamo</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">
            <div class="card-header d-flex align-items-center justify-content-between">
            </div>
            <div class="card-body">
        <form asp-action="Edit">
            <input type="hidden" asp-for="IdPrestamo" />
             <div class="row">
                          <div class="mb-3 col-md-2">
                    <label for="IdTipoPrestamo" class="form-label" asp-for="IdTipoPrestamo"></label>
                    <div class="input-group input-group-merge">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                    class="bx bx-check-shield"></i></span>
                            <select id="lTipoPrestamo" class="form-select" required asp-for="IdTipoPrestamo"
                                oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')"
                                required
                                asp-items="@(new SelectList(ViewBag.ListaCatTipoPrestamo,"IdTipoPrestamo","TipoPrestamoDesc"))">
                                <option value="">SELECCIONAR</option>
                            </select>
                        </div>
                    </div>
                </div>
                       <div class="mb-3 col-md-4">
                    <label for="PrestamoDesc" class="form-label" asp-for="PrestamoDesc"></label>
                    <div class="input-group input-group-merge">
                        <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                        <input style="text-transform:uppercase" type="text" class="form-control" id="PrestamoDesc" asp-for="PrestamoDesc"
                            placeholder="Requerido" aria-label="John Doe" aria-describedby="2"
                            oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required />
                    </div>
                </div>
                       <div class="mb-3 col-md-2">
                    <label for="CantidadPrestamo" class="form-label" asp-for="CantidadPrestamo"></label>
                    <div class="input-group input-group-merge">
                        <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                        <input style="text-transform:uppercase" type="number" class="form-control" id="CantidadPrestamo"
                            placeholder="Requerido" aria-label="John Doe" aria-describedby="2"
                            oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required
                            asp-for="CantidadPrestamo" />
                    </div>
                </div>
                <div class="mb-3 col-md-2" >
                    <label for="IdPeriodoAmortiza" class="form-label" asp-for="IdPeriodoAmortiza" ></label>
                    <div class="input-group input-group-merge">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                    class="bx bx-check-shield"></i></span>
                            <select id="IdPeriodoAmortiza" class="form-select" required asp-for="IdPeriodoAmortiza"
                                oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')"
                                required
                                asp-items="@(new SelectList(ViewBag.ListaCatPeriodoAmortiza,"IdPeriodoAmortiza","PeriodoAmortizaDesc"))">
                                <option value="">SELECCIONAR</option>
                            </select>
                        </div>
                    </div>
                </div>
                  <div class="mb-3 col-md-2" >
                    <label for="IdTipoFormaPago" class="form-label" asp-for="IdTipoFormaPago" ></label>
                    <div class="input-group input-group-merge">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                    class="bx bx-check-shield"></i></span>
                            <select id="lIdTipoFormaPago" class="form-select" required asp-for="IdTipoFormaPago"
                                oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')"
                                required
                                asp-items="@(new SelectList(ViewBag.ListaCatTipoFormaPago,"IdTipoFormaPago","TipoFormaPagoDesc"))">
                                <option value="">SELECCIONAR</option>
                            </select>
                        </div>
                    </div>
                </div>
                        <div class="mb-3 col-md-2" id="hIdCentroPrestamo">
                    <label for="IdCentroPrestamo" class="form-label" asp-for="IdCentroPrestamo" ></label>
                    <div class="input-group input-group-merge">
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                    class="bx bx-check-shield"></i></span>
                            <select id="IdCentroPrestamo" class="form-select" required asp-for="IdCentroPrestamo"
                                oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')"
                                required
                                asp-items="@(new SelectList(ViewBag.ListaCorpCent,"IdCentro","CentroDesc"))">
                                <option value="">SELECCIONAR</option>
                            </select>
                        </div>
                    </div>
                </div>
                    </div>
                    <div class="row" id="rPersona">
                         <div class="mb-3 col-md-4">
                    <label for="Nombres" class="form-label" asp-for="Nombres"></label>
                    <div class="input-group input-group-merge">
                        <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                        <input style="text-transform:uppercase" type="text" class="form-control" id="Nombres" asp-for="Nombres"
                            placeholder="Requerido" aria-label="John Doe" aria-describedby="2"
                            oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required />
                    </div>
                </div>
                  <div class="mb-3 col-md-4">
                    <label for="ApellidoPaterno" class="form-label" asp-for="ApellidoPaterno"></label>
                    <div class="input-group input-group-merge">
                        <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                        <input style="text-transform:uppercase" type="text" class="form-control" id="ApellidoPaterno" asp-for="ApellidoPaterno"
                            placeholder="Requerido" aria-label="John Doe" aria-describedby="2"
                            oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required />
                    </div>
                </div>
                  <div class="mb-3 col-md-4">
                    <label for="ApellidoMaterno" class="form-label" asp-for="ApellidoMaterno"></label>
                    <div class="input-group input-group-merge">
                        <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                        <input style="text-transform:uppercase" type="text" class="form-control" id="ApellidoMaterno" asp-for="ApellidoMaterno"
                            placeholder="Requerido" aria-label="John Doe" aria-describedby="2"
                            oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required />
                    </div>
                </div>
 <div class="mb-3 col-md-3">
                    <label for="ine" class="form-label" asp-for="ine"></label>
                    <div class="input-group input-group-merge">
                        <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                        <input style="text-transform:uppercase" type="text" class="form-control" id="ine" asp-for="ine"
                            placeholder="Requerido" aria-label="John Doe" aria-describedby="2"
                            oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required />
                    </div>
                </div>

 <div class="mb-3 col-md-3">
                    <label for="curp" class="form-label" asp-for="curp"></label>
                    <div class="input-group input-group-merge">
                        <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                        <input style="text-transform:uppercase" type="text" class="form-control" id="curp" asp-for="curp"
                            placeholder="Requerido" aria-label="John Doe" aria-describedby="2"
                            oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required />
                    </div>
                </div>

                    </div>
                    <div class="mt-2">
                        <input type="submit" value="Actualizar" class="btn btn-warning" />
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script>
    $('#lTipoPrestamo').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();
        if (SelectedText == "INTERNO") {
            document.getElementById("rPersona").setAttribute("hidden", true);
            $('#hIdCentroPrestamo').removeAttr('hidden');
        }
        else {
            document.getElementById("hIdCentroPrestamo").setAttribute("hidden", true);
            $('#rPersona').removeAttr('hidden');
        }
    });
</script>
}
