@page
@model RegisterConfirmationModel
@{
ViewData["Title"] = "Confirmación de registro";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Usuario /</span> Registro</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">
            
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <section>
                        </section>
                    </div>
                    <div class="col-md-8">
                        <section>
                            @{
                            if (@Model.DisplayConfirmAccountLink)
                            {
                            <p>

                                Normalmente, esto se enviaría por correo electrónico: <a id="confirm-link"
                                    href="@Model.EmailConfirmationUrl">Haga clic aquí para confirmar su cuenta</a>
                            </p>
                            }
                            else
                            {
                            <p>
                                Please check your email to confirm your account.
                            </p>
                            }
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>