@page
@model RegisterModel
@{
ViewData["Title"] = "Registro";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Usuario /</span> Registro</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">
            <div class="card-header d-flex align-items-center justify-content-between">
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="Input.Nombres" class="form-label" asp-for="Input.Nombres"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text" class="form-control" id=""
                                    placeholder="REQUERIDO" aria-label="John Doe" aria-describedby="2"
                                    asp-for="Input.Nombres" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" tabindex="1" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="Input.ApellidoPaterno" class="form-label"
                                asp-for="Input.ApellidoPaterno"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text" class="form-control" id=""
                                    placeholder="REQUERIDO" aria-label="John Doe" aria-describedby="2"
                                    asp-for="Input.ApellidoPaterno" required tabindex="2" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="Input.ApellidoMaterno" class="form-label" asp-for="Input.ApellidoMaterno"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text" class="form-control" id=""
                                    placeholder="REQUERIDO" aria-label="John Doe" aria-describedby="2"
                                    asp-for="Input.ApellidoMaterno" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" tabindex="3" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="Input.Email" class="form-label"
                                asp-for="Input.Email"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                                <input spellcheck="true" type="email" class="form-control" id=""
                                    placeholder="REQUERIDO" required aria-label="John Doe" aria-describedby="2"
                                    asp-for="Input.Email" tabindex="4" />
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="Input.Password" class="form-label" asp-for="Input.Password"></label>
                        <div class="input-group input-group-merge">
                            <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                            <input spellcheck="true" type="password" class="form-control" id=""
                                   placeholder="REQUERIDO" aria-label="John Doe" aria-describedby="2"
                                   asp-for="Input.Password" required
                                   oninvalid="this.setCustomValidity('Campo Requerido')"
                                   onchange="this.setCustomValidity('')" tabindex="5" />
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="Input.ConfirmPassword" class="form-label"
                               asp-for="Input.ConfirmPassword"></label>
                        <div class="input-group input-group-merge">
                            <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                            <input spellcheck="true"  type="password" class="form-control" id="" placeholder="REQUERIDO" required aria-label="John Doe" aria-describedby="2"
                                    asp-for="Input.ConfirmPassword" tabindex="6" />
                        </div>
                    </div>
                    <div class="mt-2">
                        <input spellcheck="true" type="submit" value="Crear" class="btn btn-success" tabindex="7"/>
                        <a id="regresar_registro" hidden class="btn btn-secondary" asp-area="" asp-controller="TblUsuarios" asp-action="Index">Regresar</a>
                    </div>
                </div>
                   </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">
 $("#btnTerminar").on("click", function () {

    });
    $.ajax({
        type: "GET",
        url: "/TblUsuarios/RegistroUsuario/",

        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function (list) {
            if (list == true) {
                $('#regresar_registro').removeAttr('hidden');
            }

        },

    });
</script>
}
