@model WebAdmin.Models.TblNomina

@{
ViewData["Title"] = "Edit";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Control de Nomina</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Nomina</li>
    </ol>
</nav>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdNomina" />
    <div class="row">
        @* <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IdUsuarioRemuneracion" class="control-label"></label>
                <select id="IdUsuarioRemuneracion" class="form-select"
                    oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required
                    asp-for="IdUsuarioRemuneracion" asp-items="@(new SelectList(ViewBag.ListaUsuariosCentros,"
                    IdUsuario","NombreUsuario"))">
                    <option value="">SELECCIONAR</option>
                </select>

            </div>
        </div> *@
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="NominaDesc" class="control-label"></label>
                <input asp-for="NominaDesc" class="form-control" />
                <span asp-validation-for="NominaDesc" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="UsuarioRemuneracion" class="control-label"></label>
                <input asp-for="UsuarioRemuneracion" class="form-control" type="number" />
                <span asp-validation-for="UsuarioRemuneracion" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdTipoPago" class="control-label"></label>
                <select id="lTipoPago" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')"
                    onchange="this.setCustomValidity('')" required asp-for="IdTipoPago" readonly
                    asp-items="@(new SelectList(ViewBag.ListaTipopago," IdTipoPago","TipoPagoDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group" id="lCodigoPago">
                <label asp-for="CodigoPago" class="control-label"></label>
                <input id="iCodigoPago" asp-for="CodigoPago" class="form-control" />
                <span asp-validation-for="CodigoPago" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdEstatusRegistro" class="control-label"></label>
                <select id="idEstatusLista" class="form-select" oninvalid="this.setCustomValidity('Campo Requerido')"
                    onchange="this.setCustomValidity('')" required asp-for="IdEstatusRegistro"
                    asp-items="@(new SelectList(ViewBag.ListaCatEstatus," IdEstatusRegistro","EstatusDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>

            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Actualizar" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</form>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('#IdUsuarioRemuneracion').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        $.ajax({
            type: "GET",
            url: "/TblUsuarios/fUsuarioNomina/",
            data: { id: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {

                if (list.length == 0) {
                    document.getElementById("NominaDesc").value = null;
                    document.getElementById("UsuarioRemuneracion").value = null;
                }
                else {
                    for (var i = 0, len = list.length; i < len; i++) {
                        document.getElementById("NominaDesc").value = "NOMINA";
                        document.getElementById("UsuarioRemuneracion").value = list[i].usuarioRemuneracion;
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    });
    $('#lTipoPago').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        if (SelectedValue != 1) {
            $('#lCodigoPago').removeAttr('hidden');
        }
        else {
            document.getElementById("lCodigoPago").setAttribute("hidden", true);
        }
    });
</script>
}