@model WebAdmin.Models.TblNomina
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImprimirNomina</title>
</head>
<body>
</body>
</html>
