@model WebAdmin.Models.TblNomina

@{
ViewData["Title"] = "Edit";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .invoice-box {
        max-width: 800px;
        border: 1px solid #eee;
        font-size: 12px;
        line-height: 15px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
        border-collapse: collapse;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 5px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 10px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 2px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Nómina</h4>
  <!-- Basic with Icons -->
  <div class="col-xxl">
    <div class="card mb-8">
      <div class="card-header d-flex align-items-center justify-content-between">
      </div>
      <div class="card-body">
        <form asp-action="Print">
 <div class="row">
                    <div class="col-sm-10">
                         <button class="btn btn-info" id="btnPrint">Imprimir</button>
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                    </div>
                </div>
            <input type="hidden" id="_idNomina" asp-for="IdNomina"/>
            <br>
            <div class="row">
               <div class="invoice-box" id="invocieContainer">
                    <table>
                        <tr class="top">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img src="~/assets/img/logo-azul-c.png" alt="Intelimundo"
                                                style="width: 128px; max-width: 128px" />
                                        </td>
                                        <td>
                                            <label id="l_NumNomina"></label><br />
                                            <label id="l_FechaCreacionNomina"></label><br />
                                            <label id="l_UsuarioNomina"></label>
                                            <label id="l_UsuarioContactoNomina"></label>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label id="l_CorporativoNomina"></label><br />
                                            <label id="l_DatosCorporativoNomina"></label><br />
                                            <label id="l_DatosCorporativoNominaAlt"></label><br />
                                            <label id="l_DatosCorporativoContactoNomina"></label><br />
                                        </td>
                                        <td>
                                            <label id="l_CentroNomina"></label><br />
                                            <label id="l_DatosCentroNomina"></label><br />
                                            <label id="l_DatosCentroNominaAlt"></label><br />
                                            <label id="l_DatosCentroContactoNomina"></label><br />
                                        </td>

                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr class="information">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td>
                                            <label id="l_ClienteNomina"></label><br />
                                            <label id="l_DatosClienteNomina"></label><br />
                                            <label id="l_DatosClienteNominaAlt"></label><br />
                                        </td>

                                        <td>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr class="heading">
                            <td>Metodo de Pago</td>

                            <td>Pago #</td>
                        </tr>

                        <tr class="details">
                            <td><label id="l_TipoPago">Tipo Pago</label></td>

                            <td><label id="l_UsuarioRemuneracion">0</label></td>
                        </tr>
                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>

                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>

                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>
                        <tr class="total">
                            <td>Periodo Comprendido del 26-08-2022 al 10-09-2022</td>
                            <td>Recursos Humanos</td>
                        </tr>
                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>

                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>

                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>
                        <tr class="total">
                            <td>
                                <p><span class="text-muted fw-light">Intelimundo /</span>Contabilidad</p>
                            </td>
                            <td><label id="f_ClienteNomina"></label></td>
                        </tr>

                    </table>
                    <hr />
                    <table>
                        <tr class="top">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img src="~/assets/img/logo-azul-c.png" alt="Intelimundo"
                                                style="width: 128px; max-width: 128px" />
                                        </td>
                                        <td>
                                            <label id="dl_NumNomina"></label><br />
                                            <label id="dl_FechaCreacionNomina"></label><br />
                                            <label id="dl_UsuarioNomina"></label>
                                            <label id="dl_UsuarioContactoNomina"></label>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label id="dl_CorporativoNomina"></label><br />
                                            <label id="dl_DatosCorporativoNomina"></label><br />
                                            <label id="dl_DatosCorporativoNominaAlt"></label><br />
                                            <label id="dl_DatosCorporativoContactoNomina"></label><br />
                                        </td>
                                        <td>
                                            <label id="dl_CentroNomina"></label><br />
                                            <label id="dl_DatosCentroNomina"></label><br />
                                            <label id="dl_DatosCentroNominaAlt"></label><br />
                                            <label id="dl_DatosCentroContactoNomina"></label><br />
                                        </td>

                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr class="information">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td>
                                            <label id="dl_ClienteNomina"></label><br />
                                            <label id="dl_DatosClienteNomina"></label><br />
                                            <label id="dl_DatosClienteNominaAlt"></label><br />
                                        </td>

                                        <td>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr class="heading">
                            <td>Metodo de Pago</td>

                            <td>Pago #</td>
                        </tr>

                        <tr class="details">
                            <td><label id="dl_TipoPago">Tipo Pago</label></td>

                            <td><label id="dl_UsuarioRemuneracion">0</label></td>
                        </tr>
                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>

                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>

                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>
                        <tr class="total">
                            <td>Periodo Comprendido del 26-08-2022 al 10-09-2022</td>
                            <td>Recursos Humanos</td>
                        </tr>
                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>

                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>

                        <tr class="">
                            <td></td>

                            <td></td>
                        </tr>
                        <tr class="total">
                            <td>
                                <p><span class="text-muted fw-light">Intelimundo /</span>Colaborador</p>
                            </td>
                            <td><label id="df_ClienteNomina"></label></td>
                        </tr>

                    </table>
                </div>
               </div>
</form>
      </div>
    </div>
  </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {

        const GeneraFolio = document.getElementById("_idNomina").value;
        $.ajax({
            type: "GET",
            url: "/TblCorporativoes/fDatosCorporativo/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_NumNomina').innerHTML = '# Nómina: ' + "iN-" + GeneraFolio;
                    document.getElementById('dl_NumNomina').innerHTML = '# Nómina: ' + "iN-" + GeneraFolio;

                    const dateObject = new Date(list.fechaRegistro);
                    var month = dateObject.getMonth();
                    var dateOfMonth = dateObject.getDate();
                    var year = dateObject.getFullYear();
                    var formattedDate = dateOfMonth + "/" + month + "/" + year;

                    document.getElementById('l_FechaCreacionNomina').innerHTML = 'Fecha: ' + formattedDate;

                    document.getElementById('l_CorporativoNomina').innerHTML = 'Corporativo: ' + list.nombreCorporativo;
                    document.getElementById('l_DatosCorporativoNomina').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('l_DatosCorporativoNominaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('l_DatosCorporativoContactoNomina').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;

                    document.getElementById('dl_FechaCreacionNomina').innerHTML = 'Fecha: ' + formattedDate;

                    document.getElementById('dl_CorporativoNomina').innerHTML = 'Corporativo: ' + list.nombreCorporativo;
                    document.getElementById('dl_DatosCorporativoNomina').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('dl_DatosCorporativoNominaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('dl_DatosCorporativoContactoNomina').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;
                }
            },

        });
        $.ajax({
            type: "GET",
            url: "/TblCentros/fDatosCentro/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_CentroNomina').innerHTML = 'Centro: ' + list.nombreCentro;
                    document.getElementById('l_DatosCentroNomina').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('l_DatosCentroNominaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('l_DatosCentroContactoNomina').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;

                    document.getElementById('dl_CentroNomina').innerHTML = 'Centro: ' + list.nombreCentro;
                    document.getElementById('dl_DatosCentroNomina').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('dl_DatosCentroNominaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('dl_DatosCentroContactoNomina').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;
                }
            },
        });
        $.ajax({
            type: "GET",
            url: "/TblUsuarios/fDatosUsuario/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_UsuarioNomina').innerHTML = 'Usuario: ' + list.nombres + ' ' + list.apellidoPaterno + ' ' + list.apellidoMaterno;

                    document.getElementById('dl_UsuarioNomina').innerHTML = 'Usuario: ' + list.nombres + ' ' + list.apellidoPaterno + ' ' + list.apellidoMaterno;
                }
            },
        });
    });
    $(document).on("click", "#btnPrint", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $("#invocieContainer").printThis({
            debug: false, // show the iframe for debugging
            importCSS: true, // import page CSS
            importStyle: true, // import style tags
            printContainer: true, // grab outer container as well as the contents of the selector
            loadCSS: "/assets/vendor/css/theme-default.css", // path to additional css file - us an array [] for multiple
            pageTitle: "", // add title to print page
            removeInline: false, // remove all inline styles from print elements
            printDelay: 333, // variable print delay; depending on complexity a higher value may be necessary
            header: null, // prefix to html
            formValues: true // preserve input/form values
        });



    });

    function filtro_nomina() {

        $.ajax({
            type: "GET",
            url: "/TblCorporativoes/fDatosCorporativo/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {

                    document.getElementById('l_CorporativoNomina').innerHTML = 'Corporativo: ' + list.nombreCorporativo;
                    document.getElementById('l_DatosCorporativoNomina').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('l_DatosCorporativoNominaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('l_DatosCorporativoContactoNomina').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;

                    document.getElementById('dl_CorporativoNomina').innerHTML = 'Corporativo: ' + list.nombreCorporativo;
                    document.getElementById('dl_DatosCorporativoNomina').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('dl_DatosCorporativoNominaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('dl_DatosCorporativoContactoNomina').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;
                }
            },

        });
        $.ajax({
            type: "GET",
            url: "/TblCentros/fDatosCentro/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_CentroNomina').innerHTML = 'Centro: ' + list.nombreCentro;
                    document.getElementById('l_DatosCentroNomina').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('l_DatosCentroNominaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('l_DatosCentroContactoNomina').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;

                    document.getElementById('dl_CentroNomina').innerHTML = 'Centro: ' + list.nombreCentro;
                    document.getElementById('dl_DatosCentroNomina').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('dl_DatosCentroNominaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('dl_DatosCentroContactoNomina').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;
                }
            },
        });
        $.ajax({
            type: "GET",
            url: "/TblUsuarios/fDatosUsuario/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_UsuarioNomina').innerHTML = 'Usuario: ' + list.nombres + ' ' + list.apellidoPaterno + ' ' + list.apellidoMaterno;

                    document.getElementById('dl_UsuarioNomina').innerHTML = 'Usuario: ' + list.nombres + ' ' + list.apellidoPaterno + ' ' + list.apellidoMaterno;
                }
            },
        });
    }
</script>
}