@model WebAdmin.Models.TblMovimientoCaja

@{
    ViewData["Title"] = "Crear Tipo de MovimientoCaja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Movimientos Caja</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">
            <div class="card-header d-flex align-items-center justify-content-between">
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label for="IdSubTipoMovimientoCaja" class="form-label" asp-for="IdSubTipoMovimientoCaja"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-check-shield">
                                        </i>
                                    </span>
                                    <select id="lSubTipoMovimientoCaja" class="form-select" required asp-for="IdSubTipoMovimientoCaja"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')"
                                        asp-items="@(new SelectList(ViewBag.ListaSubTipoMovimientoCaja, "IdSubTipoMovimiento", "SubTipoMovimientoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                         <div class="mb-3 col-md-3">
                            <label for="IdTipoRecurso" class="form-label" asp-for="IdTipoRecurso"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-check-shield">
                                        </i>
                                    </span>
                                    <select id="lTipoRecurso" class="form-select" required asp-for="IdTipoRecurso"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')"
                                        asp-items="@(new SelectList(ViewBag.ListaTipoRecurso, "IdTipoRecurso", "TipoRecursoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label for="MovimientoCajaDesc" class="form-label" asp-for="MovimientoCajaDesc"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text" class="form-control" id="" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" aria-label="John Doe" aria-describedby="2"
                                    asp-for="MovimientoCajaDesc" />
                            </div>
                        </div>

                        <div class="mb-3 col-md-3">
                            <label for="MontoMovimientoCaja" class="form-label" asp-for="MontoMovimientoCaja"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number" class="form-control" id=""
                                    required oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="MontoMovimientoCaja" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input spellcheck="true" type="submit" value="Crear" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}