@model WebAdmin.Models.CatPeriodoAmortiza

@{
    ViewData["Title"] = "Crear Periodo de Amortizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Control de Perriodo de Amortizaciones</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Perido de Amortizaciones/li>
    </ol>
</nav>
<hr />


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

 

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="PeriodoAmortizaDesc" class="control-label"></label>
                <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required asp-for="PeriodoAmortizaDesc" class="form-control" />
                <span asp-validation-for="PeriodoAmortizaDesc" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
