@model WebAdmin.Models.CatPeriodoAmortiza

@{
    ViewData["Title"] = "Editar Periodo de Amortizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Control de Periodo de Amortizaciones</li>
        <li class="breadcrumb-item active" aria-current="page">Editar Periodo de Amortizacioines</li>
    </ol>
</nav>
<hr />


<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input  type="hidden" asp-for="IdPeriodoAmortiza" id="IdMarca" />
    <div class="row">


        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="PeriodoAmortizaDesc" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="PeriodoAmortizaDesc" class="form-control" />
                <span asp-validation-for="PeriodoAmortizaDesc" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IdEstatusRegistro" class="control-label"></label>
                <select id="idEstatusLista" class="form-select" asp-for="IdEstatusRegistro" asp-items="@(new SelectList(ViewBag.ListaEstatus,"IdEstatusRegistro","EstatusDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Actializar" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $(document).ready(function () {
        $(".statesSelect").select2();
    });
</script>
}
